[2013-11-30 19:36] jthingelstad opened #2 "Pull wiki logo out of siteinfo call"
MediaWiki 1.22 added new logo information in siteinfo call.

http://wikiapiary.com/w/index.php?title=WikiApiary/General&diff=next&oldid=382496

Should use this as the first way to get the logo of a wiki.

[2013-11-30 19:37] jthingelstad opened #3 "Lanscape.io checks not happening on new commits"
Not sure why this isn't working. Sent email to Landscape.io support.

[2013-11-30 19:38] jthingelstad opened #4 "Add new Semantic Depth property"
For details

http://wikiapiary.com/wiki/WikiApiary_talk:Operations/2013/November#A_new_property:_Depth_of_semantic_detail

[2013-11-30 20:54] jthingelstad opened #5 "During audit check robots.txt and allow blocking WikiApiary"
We should allow a website to block us using robots.txt.

There is a [robot parser for Python](http://docs.python.org/2/library/robotparser.html). We have some Web site [request to be opted out](http://wikiapiary.com/wiki/NSindex) from WikiApiary.

[2013-12-02 03:23] jthingelstad opened #6 "Use md5 hash to reduce "nochange" edits submitted to wiki"
When bumble bee gets slower changing data (eg, list of extensions) generate a checksum and see if the data has changed to avoid expensive 'nochange' edits.

[2013-12-02 03:24] jthingelstad opened #7 "Migrate from urllib to requests"
Requests should be used to call API endpoints.

http://docs.python-requests.org/en/latest/

[2013-12-02 05:01] jthingelstad opened #8 "Handle API redirects and update URL"
If a call to an API returns a permanent redirect the URL should be updated on the wiki.

This could be handled only during audit, but would be nice if it happened at any point.

[2013-12-07 14:07] jthingelstad opened #9 "Create API data methods to retrieve time series data"
Currently the JavaScript charting libraries pull data from the apiary database via PHP scripts in the www directory. These scripts are total hacks and are only PHP since that was the easiest to serve. It would be cleaner for unit tests if these were also in Python. The [CherryPy](http://www.cherrypy.org) web framework looks like the best way to interface with nginx to handle the requests.

[2013-12-07 14:10] jthingelstad opened #10 "Better handling for MLEB"
The [MediaWiki Language Extension Bundle](https://www.mediawiki.org/wiki/MLEB) changes the version numbers of extensions that it bundles. This can cause [property errors](http://wikiapiary.com/wiki/Special:Browse/OpenStreetMap-20Wiki-23Extension_Clean_Changes) due to various metadata being added to the version.

It would be good to handle this somehow in Bumble Bee when the data was collected. It’

[2013-12-07 14:11] jthingelstad opened #11 "Reduce collection frequency for wikis with no activity"
While auditing a website, audit bee should look at activity rate and increase the polling interval for websites that have little or no editing activity, up to a maximum of every 12 hours.

[2013-12-07 14:13] jthingelstad opened #12 "Weekly report from Notify Bee"
Users who have requested the weekly report should be sent an email, via MediaWikis API, with basic statistics including current active users, page counts and response time (including min, max and average for the week). This would be the first iteration of Notify Bee to get it working.

[2013-12-07 14:14] jthingelstad opened #13 "Users should be able to subscribe to notifications for extensions"
In addition to getting notified about websites which WikiApiary already supports, you should be able to subscribe to notifications about extensions as well. This could include usage information, and eventually update information. This issue is _only_ about the wiki side of supporting this, creating the forms and properties similar to what exists for the website category now.

[2013-12-07 14:16] jthingelstad opened #14 "Improve Template:Multisite"
[Template:Multisite](http://wikiapiary.com/wiki/Template:Multisite) is pretty useless as is, it was simply slapped together very quickly to have something. It should be redone to show some more useful information and better navigation to the instances of multisites.

[2013-12-07 14:19] jthingelstad opened #15 "Add information about extensions"
Develop first version of **Drone Bee** that will collect information about extensions from MediaWiki.org as well as Github and provide a richer set of data for the extensions. This should help in notifying users that they have outdated extensions, and could provide the data backend for Extension installers.

[2013-12-07 14:29] jthingelstad opened #16 "Bumble Bee collected statistics data in parallel"
Currently Bumble Bee sequentially asks each wiki for statistics information. This should be changed so that all loaded objects can request statistics in parallel. This is likely done using something like [Green Threads](https://en.wikipedia.org/wiki/Green_threads).

[2013-12-07 14:33] jthingelstad opened #17 "Merge multiple tag properties into one"
There are currently [three tag properties](http://wikiapiary.com/w/index.php?search=Property%3AHas+*+tag&title=Special%3ASearch) and they should be merged into a single one. Having them in one will make it easier to connect things using search.

[2013-12-07 14:36] jthingelstad opened #18 "Syndicate recent changes information to better reflect activity"
[Recent Changes are available via API](http://en.wikipedia.org/w/api.php?action=query&list=recentchanges&rclimit=500&format=json&rcprop=user%7Ccomment%7Cflags%7Ctimestamp%7Ctitle%7Cids%7Csizes%7Credirect%7Cpatrolled%7Cloginfo&rccontinue=2013-06-05T04:52:36Z%7C209382). Pull these in and syndicate them in a data warehouse style table in apiary db for analysis.

[2013-12-08 20:59] jthingelstad opened #19 "Dynamically generate footer icon with edit activity graph"
Generate a dynamic PNG for a wiki to use as a footer icon that includes a sparkline graph of edit activity for the site it is on.

[2013-12-22 02:26] jthingelstad opened #20 "Audit Bee should not use version number"
Instead of using version numbers, Audit Bee should just make calls to relevant API endpoints and if they succeed enable collection. Right now odd version numbers can cause Audit Bee to flag things as not collected.

[2013-12-22 18:32] jthingelstad opened #21 "Use HTTPS"
Move all MediaWiki requests to HTTPS.

[2013-12-22 18:35] jthingelstad opened #22 "Support collection from wikis requiring login"
Make it so Bumble Bee can login to the remote wiki with a username and password. This would allow WikiApiary to monitor wikis that do not allow anonymous access to their API. This also could be used to increase API limits using bot privileges on the remote wiki.

[2013-12-23 19:01] jthingelstad opened #23 "Partition statistics table"
Add partitioning to the statistics table in the database. Mirror the segments that are used in the wiki.

[2013-12-24 02:29] #23 closed, assigned to jthingelstad

[2013-12-31 23:18] jthingelstad commented on #21
[WikiApiary now supports SSL](http://lists.thingelstad.com/pipermail/wikiapiary-l/2013-December/000055.html) on all inbound links with automatic redirection in place.

[2013-12-31 23:18] #21 closed, assigned to jthingelstad

[2014-01-01 02:01] jthingelstad opened #24 "Social tasks that share information to @WikiApiary"
Show some statistics and such instead of the existing RSS based stuff. Should send to Facebook and Twitter.

[2014-01-01 02:04] jthingelstad commented on #24
There is [facebook-sdk](https://facebook-sdk.readthedocs.org/en/latest/install.html). Bunch of [Twitter libraries](https://dev.twitter.com/docs/twitter-libraries) for Python.

[2014-01-04 10:46] nemobis commented on #15
https://gerrit.wikimedia.org/r/#/c/65299/ was merged, does that help?

[2014-01-04 18:44] jthingelstad commented on #15
It does indeed. Looking at

http://meta.wikimedia.beta.wmflabs.org/w/api.php?action=query&meta=siteinfo&siprop=extensions&format=json

Shows great information on the VCS data. This will automatically get pulled into WikiApiary by bumble bee as it starts appearing. I’m hoping someone hits

https://bugzilla.wikimedia.org/show_bug.cgi?id=59655

for addition as well.

[2014-01-04 18:45] jthingelstad opened #25 "Catch and set license information in the siteinfo/extension call"

[2014-01-04 18:46] jthingelstad opened #26 "Catch and set vcs version information in the siteinfo/extension pages"

[2014-01-04 18:46] jthingelstad commented on #26
http://meta.wikimedia.beta.wmflabs.org/w/api.php?action=query&meta=siteinfo&siprop=extensions&format=json

[2014-01-04 18:46] jthingelstad commented on #25
http://meta.wikimedia.beta.wmflabs.org/w/api.php?action=query&meta=siteinfo&siprop=extensions&format=json

[2014-01-05 01:15] jthingelstad opened #27 "Determine the Farm from the URL if not otherwise provided"

[2014-01-05 01:16] jthingelstad commented on #26
First wiki showed up with these fields!

https://wikiapiary.com/w/index.php?title=Helpmebot/Extensions&action=raw

[2014-01-06 12:28] jthingelstad opened #28 "Add property for Has alternative API URL"
WikiApiary stores it’s definitive [API URL](https://wikiapiary.com/wiki/Property:Has_API_URL) that its own bots use. When working with other collections of wikis, the API URL turns out to be one of the best unique identifiers. Recently we were able to sync WikiTeam activity on Internet Archive into WikiApiary, and this is done by matching API URL.

However, many wikis are not very good with managi

[2014-01-06 12:53] jthingelstad opened #29 "Allow API URLs for new wikis to be submitted via API"
Support for SemanticMediaWiki/SemanticMediaWiki#83.

Allow an API URL to be submitted via API for new wikis that should be added to WikiApiary.

Related to #9.

[2014-01-06 12:54] jthingelstad commented on #29
Use [CherryPy RESTful API](http://cherrypy.readthedocs.org/en/latest/tutorial/REST.html) as starting point. Biggest open question is whether to require some form of token for the POSTs. Since these will be made from any random wiki on the web, it may be better to just be really good on defense than to have any type of token.

[2014-01-07 03:25] jthingelstad commented on #27
Did this with another template instead of a property for the Farm. The template is a lot simpler to deal with.

https://wikiapiary.com/wiki/Template:Get_farm_from_URL

This currently will catch SourceForge and Wikia, but can easily be added to. Template:Website has been updated to pull this, and it denotes if the farm was added automatically with a link to this template.

[2014-01-07 03:25] #27 closed, assigned to jthingelstad

[2014-01-07 03:48] jthingelstad opened #30 "Allow extension name management?"
See https://wikiapiary.com/wiki/Dialettitaliani, Extensions tab where you will see these extensions:
- AdSense (Unknown)
- AdSense1 (Unknown)
- AdSense10 (Unknown)
- AdSense11 (Unknown)
- AdSense12 (Unknown)
- AdSense2 (Unknown)
- AdSense3 (Unknown)
- AdSense4 (Unknown)
- AdSense5 (Unknown)
- AdSense6 (Unknown)
- AdSense7 (Unknown)
- AdSense8 (Unknown)
- AdSense9 (Unknown)

Bumble Bee could pass e

[2014-01-07 04:10] jthingelstad commented on #26
Done. See extension tab:

https://wikiapiary.com/wiki/Helpmebot

[2014-01-07 04:10] #26 closed, assigned to nobody

[2014-01-07 12:32] jthingelstad opened #31 "Pull composer.json from Wikis to track composer usage"
Retrieve composer.json from wikis at the well known URL (server + scriptpath + "/composer.json")

http://semantic-mediawiki.org/w/composer.json

Add flag for wikis that are using composer and potentially other information retrieved from the file. Would it be worthwhile to grab the require statements or would they simply tell me the same thing as the extensions installed? (Which makes me wonder if

[2014-01-07 12:46] JeroenDeDauw commented on #31
composer.josn tells you the version ranges of what needs to be installed. Not the actual versions of what is installed, including the dependencies and whatnot.

http://semantic-mediawiki.org/w/composer.lock

I am however unsure if those files are supposed to be publicly accessible. This is scary http://semantic-mediawiki.org/w/LocalSettings.php

Luckily there is a check in there so our passwords a

[2014-01-07 12:55] jthingelstad commented on #31
Love the comment on the list, I missed that message. :-)

So, it seems obvious that extensions need to have a property for package name going forward right?

[2014-01-07 13:05] jthingelstad opened #32 "Disable redirect inferences (smwgQEqualitySupport)"
http://semantic-mediawiki.org/wiki/Help:$smwgQEqualitySupport

you can see this as a problem here

https://wikiapiary.com/w/index.php?title=Maplewiki&redirect=no

which shows up as a site that should be audited, but it shouldn't be a site.

Need to set

[code]

and may require rebuild of Semantic MediaWiki database.

[2014-01-07 13:53] JeroenDeDauw commented on #31
Yeah, else you will not easily be able to make sense of the Composer info. And if you have the package name, you can also link to services such as [Packagist](https://packagist.org/users/Jeroen%20De%20Dauw/) and [VersionEye](https://www.versioneye.com/php/data-values:data-values)

[2014-01-08 01:41] jthingelstad commented on #31
Added to from and template. See Composer field here

https://wikiapiary.com/wiki/Extension:Semantic_MediaWiki

Packagist API is easy to query to pull in some additional info.

[2014-01-09 03:05] jthingelstad opened #33 "Use yoyo for database structure"
[yoyo migrations](https://pypi.python.org/pypi/yoyo-migrations).

[2014-01-14 03:43] jthingelstad commented on #33
This is done.

[2014-01-14 03:43] #33 closed, assigned to nobody

[2014-01-14 03:44] jthingelstad commented on #28
This has been added to Form:Website however Template:Website still needs to catch it.

[2014-01-14 03:50] jthingelstad opened #34 "Semantic MediaWiki message "a is not declared as a valid unit" on Template:Website"
Something is wrong with semantic annotations on Settings tab. Nearly any shows "a is not declared as a valid unit of measurement for this property". "AM", perhaps?

![screenshot](https://f.cloud.github.com/assets/5351/1907487/0c10bc8c-7ccf-11e3-9553-be2a3d9a146b.png)

See [Traditio](http://wikiapiary.com/wiki/Traditio) for example.

[2014-01-18 14:20] jthingelstad opened #35 "Support Semantic Versioning"
Replace goofy version parsing code with support for standard [Semantic Versioning](http://semver.org). Some minor support for modifying some conventions into semantic versions could be supported too.

[2014-01-18 15:41] jthingelstad commented on #35
I love Python. See [Semantic Version](https://pypi.python.org/pypi/semantic_version/) package.

[2014-02-02 22:32] jthingelstad opened #36 "Handle API values where empty string = True"
Note the value for `"misermode": ""`:

https://wikiapiary.com/w/api.php?action=query&meta=siteinfo&siprop=general&format=json

This means "True" for the MediaWiki API. Make sure WikiApiary catches this right.

[2014-02-09 18:25] jthingelstad opened #37 "Catch "…" in extension authors and turn into others flag"
The string "…" in the author array of an extension should indicate "and others". This should probably be a boolean flag applied to the extension?

[2014-02-09 18:32] kghbln commented on #37
Right, a good idea though its more for for showing appreciation (very important) than for querying. :+1:

[2014-02-23 12:57] suriyaa opened #38 "Integrate it"
Hi,

I wanted to know where she integrates these bots. In "/extensions" or somewhere else?

-Suriyaa Kudo

(PS: I would like to use it for iSC Pedia)

[2014-02-23 13:05] jthingelstad commented on #38
Sorry, I don't understand what your asking here. Can you elaborate?

[2014-02-23 13:09] suriyaa commented on #38
Yes, I wanted to know where those files are on WikiApiary and I would like to integrate it for my wiki.

[2014-03-09 17:33] suriyaa opened #39 "BumbleBee"
How is [BumbleBee](https://wikiapiary.com/wiki/User:Bumble_Bee) working on WikiApiary?

-Suriyaa Kudo

[2014-03-24 01:11] apexkid commented on #37
Which file is this issue related to?

[2014-03-24 10:20] kghbln commented on #37
"foreground.php". See the referenced pull request.

[2014-03-24 19:38] apexkid commented on #37
Thanks for your response kghbin but I don't get why this issue is still opened. I think the pull request referenced here fixes it, doesn't it?

The flag is automatically set in Special:Version like this:

  function listAuthors( $authors, $extName, $extDir ) {
        $hasOthers = false;
        $list = array();
        foreach ( (array)$authors as $item ) {
            if ( $item == '...' ) {

[2014-03-24 21:26] kghbln commented on #37
Ah - no this issue is not about the code of extensions but about how to make "and others" visible on extension's pages in WikiAPIary. So far this information gets omitted and this is why the issue is still open. See e.g. [SMW](https://wikiapiary.com/wiki/Extension:Semantic_MediaWiki) on WikiAPIary: "and others" is not shown though the extension says [has this information](https://semantic-mediawik

[2014-03-24 22:39] apexkid commented on #36
Please tell which file is this bug related to?

[2014-03-29 03:09] hexmode commented on #25
https://meta.wikimedia.org/w/api.php?action=query&meta=siteinfo&siprop=extensions&format=jsonfm is a better link at the moment.

[2014-03-29 16:51] mecyborg commented on #37
Why the check condition for "..." will not solve this problem ?

[2014-04-25 11:33] jthingelstad opened #40 "Sanitize extension description fields to avoid Semantic MediaWiki errors"
See SemanticMediaWiki/SemanticMediaWiki#287.

Extension descriptions sometimes contain hyperlinks, wikilinks and other embedded content.

Example:
- https://wikiapiary.com/w/index.php?title=Bildr/Extensions&action=edit

[2014-04-25 11:45] jthingelstad commented on #40
Looks like the root of this issue at least for [Bildr](https://wikiapiary.com/wiki/Bildr) is the use of an unclosed `[[` in the description of the InlineLinkSuggest extension.

[2014-04-25 15:51] kghbln commented on #40
To enable [`$smwgLinksInValues`](https://semantic-mediawiki.org/wiki/Help:$smwgLinksInValues) would be a way out but this may break more than it helps.

[2014-04-25 16:38] jthingelstad commented on #40
That setting scares the crap out of me. Going to actively avoid it. :-)

[2014-04-25 19:34] kghbln commented on #40
:+1:

[2014-05-25 13:32] jthingelstad opened #41 "MaxMind values of "None" should be ignored"
https://wikiapiary.com/w/index.php?title=GISWiki/Maxmind&curid=39497&diff=928506&oldid=844374

They should probably be removed from the template entirely to save space.

[2014-05-25 15:46] jthingelstad opened #42 "Reconnect to MySQL if apiary_db loses connection"
If the connection to MySQL is dropped runSql will report exception that "SQL Server has gone away". This should be detected and then reconnect to the database.

[2014-05-25 15:48] jthingelstad opened #43 "GetStatisticsTask Duplicate key error"
[code]

The key is on website_id and timestamp. Occasionally an error is thrown due to duplicate key.

[2014-05-25 15:50] jthingelstad opened #44 "MySQL commands out of sync error"
After running for a while this exception is generated from runSql.

[code]

[2014-05-25 15:53] jthingelstad commented on #3
resolved on it’s own

[2014-05-25 15:53] #3 closed, assigned to nobody

[2014-05-25 15:55] jthingelstad commented on #7
Completed in new codebase.

[2014-05-25 15:55] #7 closed, assigned to nobody

[2014-05-25 15:56] jthingelstad commented on #9
This is in process and is being done with Flask. Basic building blocks are there.

[2014-05-25 15:57] jthingelstad commented on #12
The first version of this works now!

[2014-05-25 15:57] #12 closed, assigned to nobody

[2014-05-25 15:58] jthingelstad commented on #16
This is what all of the Celery fuss has been about. The rewrite was all about this.

[2014-05-25 15:58] #16 closed, assigned to nobody

[2014-05-25 16:00] #28 closed, assigned to nobody

[2014-05-25 16:01] jthingelstad commented on #35
New bots use this.

[2014-05-25 16:01] #35 closed, assigned to nobody

[2014-05-25 16:02] jthingelstad commented on #36
This is done in the newest bots.

[2014-05-25 16:02] #36 closed, assigned to nobody

[2014-05-25 16:02] #38 closed, assigned to nobody

[2014-05-25 16:02] #39 closed, assigned to nobody

[2014-05-25 16:04] jthingelstad opened #45 "Provide proper attribution to MaxMind for using their data"
Add required footer to proper locations.

[2014-05-25 16:06] jthingelstad commented on #42
@optimuspaul any suggestions on the best place to handle this? Since the SQL connection is in `connect_mysql.py` and not executed again, wondering if I should move it to a function so I can reinitialize as needed.

[2014-05-25 16:45] jthingelstad opened #46 "Setup dev instance of WikiApiary wiki"
Create a dev.WikiApiary.com instance of the wiki that can be used to test bots against.

[2014-05-25 16:45] jthingelstad commented on #46
FYI @hexmode @apexkid.

[2014-05-25 16:47] jthingelstad opened #47 "Create build script to pull in external dependencies"
We use one 3rd party dataset from Maxmind and the database file is necessary at runtime and also required for unit tests to work. Semantic MediaWiki [before_script](https://github.com/SemanticMediaWiki/SemanticMediaWiki/blob/master/build/travis/before_script.sh) is a good example to use.

[2014-05-25 16:48] jthingelstad opened #48 "Use Travis encrypted environment variables to provide passwords to wiki accounts"
Once #46 is completed then pass in the bumble bee and audit bee passwords in .travis-ci as encrypted values so unit tests can complete.

[2014-05-25 16:50] jthingelstad opened #49 "Refactor audit-bee.py into tasks"
This should also pull in #20.

[2014-05-25 16:53] jthingelstad opened #50 "Create Farm task to add Wikia websites"
Task should run on schedule and pull in sites that exist in Wikia via API and create new entries in WikiApiary as needed.

Sample Python script to loop through the Wikia API to get the list of websites at [farm-wikia.py](https://gist.github.com/thingles/52b568223db48bdb133e).

[2014-05-25 16:54] jthingelstad opened #51 "Convert wikiteam standalone script to Farm tasks"
Existing Python script operates as stand alone and scans the entire Internet Archive for Wikiteam each week. This could be invoked more frequently and cache the most recent timestamps to just do incremental updates.

[2014-05-25 20:12] kghbln opened #52 "Check every frequency not honored below 240 minutes"
Currently when changing the update frequency of a wiki, BumbleBee does not change the collection frequency. E.g. I changed it from 240 to 60 for [Karnevalswiki Brühl](https://wikiapiary.com/wiki/KarnevalsWiki_Br%C3%BChl), however stats collection continues to happen every 240 minutes. This is probably a thing to look at while re-factoring the current code.

[2014-05-25 21:44] plexish opened #53 "Group by minor, not patch, version on Statistics page"
As discussed [here](http://lists.thingelstad.com/pipermail/wikiapiary-l/2014-April/000168.html) and [here](https://wikiapiary.com/wiki/Talk:Statistics) the [Statistics page](https://wikiapiary.com/wiki/Statistics) has issues due to there being so many patch versions of everything+limited versions per query that the big picture is not visible.

Grouping by minor version rather than patch would solv

[2014-05-25 21:50] plexish opened #54 "Audit automatically fallback to Special:Statistics if API not available"
An annoyingly large number of wikis break their api with url rewrite rules but still have a functional Special:Statistics. It'd be good to be able to collect at least the basics from them too.

[2014-05-25 22:31] jthingelstad opened #55 "Create update_page method in BaseApiaryTask"
There are a bunch of places where bots update a wikipage. Right now they all do it on their own via the API. We should have a method in BaseApiaryTask that for update_page that other tasks can use. This will be needed to make #6 solvable without a lot of redundancy.

[2014-05-25 22:33] jthingelstad commented on #54
WikiApiary already does this if you specify that it should collect statistics via the "Statistics" page instead of the "API". Is that feature not working somewhere?

It is worth noting that right now that must be manually specified, and it would be much nicer if during the audit process the API was checked, and then Statistics was attempted automatically if the API didn’t work.

[2014-05-25 22:37] jthingelstad commented on #52
This is actually more sinister. :-) There is a hidden setting inside ApiaryDB that is the **actual** minimum frequency that a wiki can collect at. The bot actually uses the greater of the value set in the wiki or the value in ApiaryDB, which defaults to 240 minutes. So, sadly right now the only way to collect faster than 240 minutes is for me to set a lower minimum in the database. This is obvious

[2014-05-25 22:38] jthingelstad commented on #52
One idea is using the new ApiaryAPI to allow administrators access to change the governor for a website. This still has complications since the admin would need to somehow authenticate with the API which is not currently planned. I would really like to keep this just in the wiki.

[2014-05-25 22:44] plexish commented on #54
Oh, I remembered it being on the to-do list and missed that it was now working. Good to know!

Having the fallback check automated would help catch more and generally reduce humanwork, is it worth having an issue for that (new one or modify this)?

[2014-05-25 22:47] jthingelstad commented on #54
I’m modifying this issue to be for the automation. It is related to #20 and being more test-based for detecting what data to collect instead of deterministic based on assumed capability.

[2014-05-25 23:09] jthingelstad opened #56 "Use a redis hash for status checks"
Right now we are storing thousands of redis keys for the last attempt to collect a field. It will keep things tidier if we store that in a redis hash using fields.

Mainly, move `SET`/`GET` to `HSET`/`HGET`.

[2014-05-25 23:12] jthingelstad opened #57 "Track extension use over time"
This is a long desired capability. We need a database table to store time series data for extensions. After that, we can use extension segments to collect usage information via the Semantic MediaWiki API and then store those data points in the table for graphing.

[2014-05-25 23:15] jthingelstad opened #58 "Cumulate the raw data collected for wikis into daily values"
WikiApiary pulls individual data points. We want to collect these individual data points into daily values that can contain high/low values for the day, as well as some data not collected by the individual data collections (e.g., number of extensions installed on the wiki, number of interwikimaps pointing at it).

There is a table schema in place but it needs revising. This would use the Hour segm

[2014-05-25 23:16] jthingelstad opened #59 "Cumulate the raw data collected for wikis into weekly values"
WikiApiary pulls individual data points. We want to collect these individual data points into weekly values that can contain high/low values for the day, as well as some data not collected by the individual data collections.

There is a table schema in place but it needs revising. This would use the day of week segment to fire off a task for each Web site on that week and aggregate the data.

[2014-05-25 23:16] jthingelstad commented on #59
See also #58.

[2014-05-25 23:16] jthingelstad commented on #58
See also #59.

[2014-05-25 23:17] jthingelstad opened #60 "Track MediaWiki versions over time"
Each day we should snapshot the number of installations of MediaWiki by version into the database so we can show how quickly new versions are adopted.

[2014-05-25 23:18] jthingelstad opened #61 "Track Extension versions over time"
Similar to #60 but do this for each MediaWiki extension.

[2014-05-25 23:20] jthingelstad opened #62 "Calendar view for each wiki"
I absolutely love [this calendar view](http://bl.ocks.org/mbostock/4063318) showing an entire year of activity:

![screenshot](https://cloud.githubusercontent.com/assets/5351/3078216/0499edce-e463-11e3-9d8b-08326050fd00.gif)

Github uses a very similar display:

![screenshot 2](https://cloud.githubusercontent.com/assets/5351/3078221/1cb7546e-e463-11e3-8a9d-3bcb70ffdfe2.gif)

Once we have #58 solve

[2014-05-25 23:24] jthingelstad opened #63 "Add edits per minute calculation"
For wikis that have a Founded date we can determine the days since the wiki was started and using the edit count determine the edits per minute since the site was created.

This could also be cumulated over time to show a trend for the edit rate for the wiki.

[2014-05-25 23:26] jthingelstad opened #64 "Template:Website needs to be redesigned"
The main Template:Website needs to be redesigned. Some key items:
- The use of tabs is annoying and really hiding poor information architecture. We should do more sampling of data on this page.
- The subpages that contain the actual data now have their own templates and can be used to show more data. So, we should just show some data about extensions on Template:Website, and then use the /Extensio

[2014-05-25 23:27] jthingelstad opened #65 "API method to generate Sparkline charts for datasets"
Add additional methods to the ApiaryAPI to output a small sparkline chart for certain data sets.

[2014-05-25 23:28] jthingelstad commented on #22
Possible way to do this would be to have a checkbox to use a username and then have bot generate password and send it to a user via email.

[2014-05-25 23:30] jthingelstad opened #66 "Allow a Farm to set a minimum "Check every" value for all members of the farm"
This is a convenience function to allow Farm:Thingelstad.com to specify that no wiki in that farm should check more frequently than every 240 minutes. This would be checked by Template:Website and use the higher of the value in the website or in the farm.

[2014-05-25 23:31] jthingelstad opened #67 "Automate updates to MediaWiki:Tagline"
There is a task in place for this but it doesn't query the data from the wiki. Need to finish it. This should use #108 to get the data.

[2014-05-25 23:32] jthingelstad opened #68 "Allow a website to sponsor WikiApiary"
Have a flag in the template that indicates that this wiki is sponsoring or supporting WikiApiary. This could then display a special badge on that wikis page.

[2014-05-25 23:36] jthingelstad opened #69 "Revise BUILD.md with another round of edits"
- Some missing steps on how to add your task to Celery.
- Discuss Flower some more, screenshots?
- Add a lot of hyperlinks to related content.
- General cleanup.

[2014-05-25 23:38] jthingelstad opened #70 "Store hash key in Redis for the error count for each wiki"
There needs to be a super fast way to increment a counter each time an error is encountered while running a task for a given wiki. Redis seems like the best place to put it.

Two issues with this:
- There is currently no way to query Redis from wikitext. It would be pretty easy to make a simple Redis/MediaWiki bridge though.
- I’m not sure you can sort a redis hash to see where the highest error c

[2014-05-25 23:38] plexish commented on #63
Maybe scale the units displayed or use a larger time unit (day? hour?)? Many more wikis have a handful of edits a day than >1 edit per minute, and it's less easy to see what some tiny decimal edits per minute means on a small wiki than some large edits per day on a big wiki.

[2014-05-26 00:42] jthingelstad opened #71 "Farming task for Wikkii"
Wikkii shows [list of wikis](http://wikkii.com/wiki/Special:Farmer/list). Create a farmer task to parse this list (use BeautifulSoup4) and insure they are all in WikiApiary.

The original version of this script is at:
https://gist.github.com/thingles/6840d400bd8be41f8d85

[2014-05-26 00:44] jthingelstad opened #72 "Farming task for ShoutWiki"
ShoutWiki exposes a [category of all wikis](http://www.shoutwiki.com/wiki/Category:Flat_list_of_all_wikis). This list could be retrieved via the MediaWiki API and then used to sync with WikiApiary.

[2014-05-26 00:48] jthingelstad opened #73 "Farmer for wiki-site.com"
Wiki-Site publishes these indexes that can be mined.
- http://www.wiki.co.il/active-wiki-de.html
- http://www.wiki.co.il/active-wiki-en.html
- http://www.wiki.co.il/active-wiki-es.html
- http://www.wiki.co.il/active-wiki-fr.html
- http://www.wiki.co.il/active-wiki-he.html
- http://www.wiki.co.il/active-wiki-it.html

[2014-05-26 01:15] jthingelstad opened #74 "Improve duplicate Web site checking"
These websites do not get flagged as duplicates but should be:
- [x] https://wikiapiary.com/wiki/Wikimedia_(se) & https://wikiapiary.com/wiki/Wikimedia_Sweden
- [x] https://wikiapiary.com/wiki/Tatiana%27s_TOMATObase & https://wikiapiary.com/wiki/Tatiana%27s_TOMATOBase
- [ ] Hypothetical pair with different URLs and no autocollectable founded date
- [ ] https://wikiapiary.com/wiki/Genomics and http

[2014-05-26 01:19] jthingelstad opened #75 "Syndicate WikiApiary data to WikiIndex"
Rather than pulling data in this would update a template block on WikiIndex for wikis that WikiApiary is aware of.

The template can be managed using [mwparserfromhell](https://github.com/earwig/mwparserfromhell) to open page, add template specifically for WikiApiary and populate with key statistics.

Would require a bot account for WikiApiary on WikiIndex. See reference page for WikiApiary:

http

[2014-05-26 01:21] jthingelstad opened #76 "Add /doc pages for more Templates"
The templates for WikiApiary are complicated and each should have a /doc subpage to explain what it does.

[2014-05-26 01:22] jthingelstad opened #77 "Add documentation or help information to properties"
Some of the properties in WikiApiary are not very clear and should have clearer information added to their Property pages so it is easier for others to understand the Semantic MediaWiki data structure in place and how it is related to other properties.

[2014-05-26 01:24] jthingelstad opened #78 "Fix edit flapping for /Maxmind subpages"
https://wikiapiary.com/w/index.php?title=Plants_Vs_Zombies:_Garden_Warfare_Wiki/Maxmind&diff=next&oldid=880469

Maxmind geo data also flaps around. Should be rewritten to write multiple templates for each IP that it tracks? Or possibly having another subpage for each IP address that just stores that one? The additional page worries me since the data would never go away, and just grow over time. Li

[2014-05-26 01:24] jthingelstad opened #79 "Fix edit flapping for /Whois subpages"
See revision history here

https://wikiapiary.com/w/index.php?title=Plants_Vs_Zombies:_Garden_Warfare_Wiki/Whois&diff=prev&oldid=703207

The netblock organization and handle are different based on IP address. To avoid edit flapping these should be stored as multiply occurring templates attached to each IP address.

Related to #78.

[2014-05-26 01:25] jthingelstad commented on #78
Related to #79.

[2014-05-26 01:26] jthingelstad opened #80 "Add additional information to the Weekly Report email"
[Weeklypedia](http://weekly.hatnote.com/) is a pretty great example of what a weekly report from a wiki could look like ([example](http://weekly.hatnote.com/archive/en/20140523/weeklypedia_20140523.html)).

[2014-05-26 01:29] jthingelstad opened #81 "Add property to extensions to identify Farm extensions"
There are many extensions that are made just for a specific wiki farm. Wikia has dozens of these. It would be helpful to have a field to indicate that it is a farm specific extension.

Blue Forge does this but in an even worse manner. They take existing extensions, modify them slightly, change the names and then install them causing additional extensions to be created that are really just renames

[2014-05-26 01:32] jthingelstad opened #82 "Map extension name changes"
From @JeroenDeDauw:

Maybe a template that points the old name to the new name and also creates a mapping that bumble bee can use to map the old extension instances to the new one?

This could be done by somehow pointing the old extension to the new via a property. It could also be hidden in the collection tasks and renamed on the way into the wiki, but that is hidden from plain view and would be

[2014-05-26 01:34] jthingelstad opened #83 "Identify wiki rankings"
S23 said that they had a lot of positive feedback when they added rankings for each wiki. Stuff like:

These could be added as additional properties in Template:Website, preferably through another template that calculates them all.

I’m slightly concerned that they are expensive count queries that could slow things down, but not sure.

[2014-05-26 01:36] jthingelstad opened #84 "Create maintenance task to prune the multiproperties table"
ApiaryDB keeps multiproperties in a table, with a key. This table is currently not maintained and just gets bigger. Keys should be deleted based on the last time they were seen, potentially variable expiration lengths based on the key.

A task that runs nightly should do this fine. This could be done by limiting the select but trimming the old data needs to be done anyway.

[2014-05-26 01:38] jthingelstad opened #85 "Handle siteinfo/general variant property"
The siteinfo/general property is returned as a JSON object. Semantic MediaWiki should parse this, possibly using it’s native JSON support.

https://wikiapiary.com/w/index.php?title=Wikibooks_(kk)/General&diff=prev&oldid=189058

`|variants=[{'code': 'kk'}, {'code': 'kk-cyrl'}, {'code': 'kk-latn'}, {'code': 'kk-arab'}, {'code': 'kk-kz'}, {'code': 'kk-tr'}, {'code': 'kk-cn'}]`

[2014-05-26 01:43] jthingelstad opened #86 "Redo Template:Language_label using Extension:I18nTags"
Right now this is a hand-maintained switch statement in a template. The [I18nTags](https://www.mediawiki.org/wiki/Extension:I18nTags) extension does this in a nice parser function.

Likely leave it in Template:Language_label but replace the switch with the parser function call so it is faster and doesn't need to be maintained.

[2014-05-26 01:45] jthingelstad opened #87 "Allow users to comment on extensions"
I would like to have users comment on extensions. The [Comments](https://mediawiki.org/wiki/Extension:Comments) extension looks good for this. I’m also strongly considering using Disqus via a Widget.

Whatever is done for this could be done for Skins as well.

It would be nice to be able to at least have a comment count as a property of the Extension.

[2014-05-26 07:56] plexish commented on #82
I posted [another example](http://lists.thingelstad.com/pipermail/wikiapiary-l/2014-May/000198.html) where this would be handy.

Ideas:
Set a field on an extension to "Main extension"/"Deprecated in favor of"/"New name"/"Moved to"/"Forked from" (possibly have several different acceptable parameters which do very similar things, but keep correct relationship between extensions?)
This displays a big

[2014-05-26 08:03] plexish commented on #81
Especially if code is not available and/or an extensions is entirely useless outside the framework of a specific farm, I think it should be excluded from the default extension usage page. Some farm specific extensions could be useful elsewhere though, should those be treated differently?

For forked and slightly modified extensions, maybe the forked from thing in my comment on #82 would work?

[2014-05-26 08:08] plexish commented on #87
Would be cool. I'm somewhat in favor of avoiding third party dependencies, but Disqus would give a prettier system.

[2014-05-26 08:20] plexish opened #88 "Add fields for Code and Download to extensions and skins"
Currently there's just one URL field which usually gives information/general instruction, but often is used for code or sometimes download.

Adding the other fields in (with #15 supplying much of the information) would make it easier to see which extensions are open source, which would maybe be good to display on the general extension rankings?

[2014-05-26 10:28] plexish commented on #68
Could also have a Sponsors page listing them all (ordered by sponsorship amount?), maybe linked from the main page?

[2014-05-26 13:39] optimuspaul commented on #42
You could also wrap it in an object that does automatic reconnects.  Both seem like about the same amount of work, but auto-reconnect would be more maintainable I think.

[2014-05-26 14:19] jthingelstad opened #89 "Create ProcessExtensionSegment task to trigger Extension-based tasks"
Similar to ProcessWebsiteSegment task but for Extensions. It should fire off additional tasks that do the work. Probably fine to use Hour segments so that this happens once a day for each extension, but is spread throughout the day.

[2014-05-26 14:20] jthingelstad opened #90 "Create task to syndicate extension data to MediaWiki.org"
There is a WikiApiary bot account on MediaWiki.org that we can use to syndicate extension data from WikiApiary to MediaWiki.org. This task should be fired based on #89 and handle the work for each extension.

[2014-05-26 16:26] jthingelstad opened #91 "Farmer for Wikimedia"
I created a script a long time ago to import Wikimedia ([see gist](https://gist.github.com/thingles/fe93029ce7b19a8d7471)) but it is wrong in many ways. Notably:
- It can only be ran once as it simply creates new websites and doesn't modify existing ones.
- It caught most of the mainline wikis, but couldn't parse many of them.

A new task-based farmer for Wikimedia should be created to sync any ne

[2014-05-26 20:11] kghbln commented on #52
Thank you for your insight on this. There are still a couple of websites around including WikiAPIary itself which data is collected every 15 minutes. So at one point you must have frozen the existing values and introduced the current system for all changes to this value thereafter.

Probably the best solution is to leave it as is for the moment. At one point when it is possible to change from 240

[2014-05-26 20:18] kghbln commented on #75
Probably it will be best to put the statistics into a subpage and transclude the data into the basepage. Basically this is the system WikiAPIary uses, too. The "size" template could somehow be merged into the wiki template to make things easier to maintain. WikiFactor is a different thing, though. Then the frequency of updates should also be determinded. Probably a week or a fortnight is enough.

[2014-05-27 02:07] jthingelstad opened #92 "Add migration to remove website_status table"
All of this information is now being stored in redis. We should delete the table to insure there is no code still referencing it.

[2014-05-27 02:12] jthingelstad commented on #49
The code is now refactored, however, I’m going to leave this open as there are no unit tests at this point. Must have unit tests! Also, I know that at least one of the methods will not work since it uses the old data structures.

[2014-05-27 02:18] jthingelstad commented on #75
Yes, for scheduling I would use the Day of week and Hour of day properties so each site would get updated no more than once a week, and all the edits would be smoothed out over the week so it wouldn't beat up WikiIndex with a burst of load.

Interesting idea to use a subpage, probably better and easier. I keep looking for an excuse to use [mwparserfromhell](https://github.com/earwig/mwparserfromhe

[2014-05-28 00:50] jthingelstad opened #93 "Validate data collection during re-audit"
There have been times where for no known reason a wiki has not had data collected. I'd like to make sure that there is some notice if this is happening. I’m thinking that when a site is re-audited (not the first time) that a check can be made on the data collected in ApiaryDB and make sure that it is current.

[2014-05-28 00:53] jthingelstad opened #94 "siteinfo/general may return database type of "null""
[DGBC Wiki](http://wikiapiary.com/wiki/DGBC_Wiki) reports a database type of "none". If you query the [DGBC API](http://www.wiki.dgbc.nl/api.php?action=query&meta=siteinfo&siprop=general&format=json) you also see "null" as the database type. This is coming through to WikiApiary as "None" (Python's version of null).

[2014-05-28 00:57] jthingelstad opened #95 "Store interwikimap data in ApiaryDB"
We currently store interwikimaps on an /Interwikimap subpage for each wiki, and these are also stored in Semantic MediaWiki subobjects. However, there are some visualizations that require a faster, more random access to interwikimaps. For these I'd like to store the interwikimaps for all wikis in the ApiaryDB and create API methods to get at the data. Some very interesting D3 visualizations could

[2014-05-28 00:59] jthingelstad opened #96 "Store listing of pages for each wiki"
Explore ways to pull in the list of pages on each wiki that WikiApiary monitors. Store these in a table that is mapped back to the wiki id. This would be the basis for starting to do much deeper analysis on each wiki.

[2014-05-28 01:00] jthingelstad opened #97 "Store abbreviated history for each page on wikis"
For each page, slowly build up a history of all edits that have occurred on that page. This would be used to determine the rate of edit activity, frequently edited pages, how many edits are bot versus not.

[2014-05-28 01:01] jthingelstad opened #98 "Store list of known users on each wiki"
When storing the history of each page #97 we will get usernames and we should store those in another table in ApiaryDB as well. This can help us build up reputation information about each user, and possibly map them across the wikiverse.

We should also poll the new user logs for this data ([Example API](http://www.olap.com/w/api.php?action=query&list=logevents&letype=newusers&ledir=older&lelimit=

[2014-05-28 01:02] jthingelstad opened #99 "Wikiray"
Enable an additional level of data collection that looks at activity on each wiki, around the pages, users and history of each page.

[2014-05-28 01:03] #99 closed, assigned to nobody

[2014-05-28 01:16] jthingelstad opened #100 "Have Template:Website detect check every set lower than threshold"
Until #52 can be solved in an elegant manner we could check the "Check every" parameter in the wiki and compare it to the value in ApiaryDB and put the Web site in a category for an administrator to deal with. We could then adjust the check every limit in ApiaryDB for those that are requesting it. This is probably better than silently ignoring it and can be done entirely in Template:Website, maybe

[2014-05-28 01:18] jthingelstad opened #101 "Dynamically adjust check every based on wiki activity"
#52 and #100 deal with the value for Check every. This is currently set as a "do not check more often than this" in minutes. Currently this is maintained by operators. It would be interesting if during the re-audit process a calculation was used to adjust the check every setting. Arguably, the more edits on a wiki the faster we should check, and the reverse is true up to about 6-8 hours (I always

[2014-05-28 01:20] jthingelstad opened #102 "Use longer TTL for /Whois, /Maxmind, /Skins, /Namespace and others"
Currently /General is updated every 24 hours, and that is the same frequency for all other subpages. This is far more frequent than needed for some of these data sets. I want to collect /General every 24 hours to detect new MediaWiki versions. I will keep /Extensions every 24 hours too.
- /Whois every 7 days.
- /Skins every 3 days.
- /Namespace every 7 days.
- /Interwikimap every 7 days.

Or shoul

[2014-05-28 01:21] jthingelstad opened #103 "Property to link Skins together"
Skins can often be clones or variants of each other. Can we add a property (list?) that would allow skins to be flagged as clones of another skin? Unfortunately this would have to be manually edited, but could help clean up the listing of skins and possibly suppress clones from some displays.

[2014-05-28 01:31] jthingelstad opened #104 "Review W4G Rating Bar for rating extensions (any pages)"
@apexkid it would be good to review the [W4G Rating Bar](https://wikiapiary.com/wiki/Extension:W4G_Rating_Bar) extension for rating extensions. The code base seems okay. I think it would be good to have something that doesn't require a login. Perhaps it’s a nonstarter, but worth taking a look I would think.

/cc @hexmode

[2014-05-28 01:38] jthingelstad opened #105 "Create run_flask.py script in root to run API for testing"
Right now have goofy instructions in BUILD.md. Replace that with a simple script in the main directory.

[2014-05-28 01:59] jthingelstad opened #106 "Get Travis-CI build working again"
Requires:
- [x] #47 Create build script to pull in external dependencies
- [x] #48 Use Travis encrypted environment variables to provide passwords to wiki accounts

[2014-05-28 08:28] plexish commented on #102
Skins could be 7 days to go along with the rest for convenience. New skins are pretty rare, probably about as rare as interwiki or namespace changes on most wikis, though I guess skin data is more interesting to get quickly.

Others could be less, but even taking all four down to ~1 month would only save you a handful of checks per month per wiki, so a week seems reasonable.

[2014-05-28 08:30] plexish commented on #103
Could use a method similar to my suggestion on #82? Leave the primary skin alone and point all the clones at it with a "Clone of" property?

[2014-05-28 12:17] jthingelstad opened #107 "Add optional randomness to check_timer"
Allow a parameter to check_timer that adds randomness to the offset to avoid developing hotspots in checking tasks.

[2014-05-28 12:20] jthingelstad opened #108 "Implement pseudo-count capability using ParseText API"
Semantic MediaWiki offers no method to get counts from the API. An alternative is to issue a wikitext query via the [Parse API](http://m.mediawiki.org/wiki/API:Parsing_wikitext) and interpret the results. This should be added to the base class.

[2014-05-28 13:16] hexmode commented on #98
To make this more reliable for those who wish to use this sort of thing, there should be a way (keybase.io?) to authenticate the identity of users on different wikis.

[2014-05-28 13:20] hexmode commented on #103
There is currently a discussion and RFC for skins. https://www.mediawiki.org/wiki/Requests_for_comment/Redo_skin_framework it would be good to join in that discussion so that some of these changes can be made in core.

[2014-05-28 14:18] jthingelstad opened #109 "Expose time for next data checks via API"
Redis holds the timestamp for the next time that a data set will be retrieved. It would be nice to expose this via the API. We could then display in the template on the wiki when the data set will be updated next. Perhaps should also consider showing when the data was last retrieved.

[2014-05-28 21:01] hexmode opened #110 "Syndicate code maturity info from OpenHub"
It would help us rate extensions if we could match extensions to their Ohloh pages and incorporate that information into a SMW query on WikiApiary.

For example, Validator (https://wikiapiary.com/wiki/Extension:Validator) could pull information from https://www.ohloh.net/p/validator/

This came up when discussing rating with @apexkid.  If this information was available on WikiApiary or query respo

[2014-05-28 21:05] hexmode opened #111 "Query error being stored in Property"
There is some wonkiness here: https://wikiapiary.com/w/index.php?title=Property:Has_MediaWiki_version&from=%2Fdev%2Ftal#SMWResults

[code]

[2014-05-29 00:20] jthingelstad commented on #110
Cool idea. Actually, this would be easily stored in a /Ohloh subpage for each extension. Does Ohloh have an API? Do a lot of extensions have Ohloh pages?

[2014-05-29 00:43] jthingelstad commented on #110
I just requested and received an API key for WikiApiary to provide read-only access to the [Ohloh API](https://github.com/blackducksw/ohloh_api).

[2014-05-29 01:36] hexmode commented on #110
If I understand correctly, Ohloh will produce stats on any open source repository that it can query.  Which means that we can add their repo to Ohloh if it isn't already there.

[2014-05-29 01:58] #48 closed, assigned to jthingelstad

[2014-05-29 02:00] #47 closed, assigned to nobody

[2014-05-29 02:02] jthingelstad commented on #106
"Finally!"

[2014-05-29 02:02] #106 closed, assigned to jthingelstad

[2014-05-29 04:17] jthingelstad opened #112 "Syndicate packagist information for extensions"
Similar to #110 pull in data from packagist and store in a subpage for each extension. Needs #89.

[2014-05-30 01:57] jthingelstad commented on #110
This requires #89.

[2014-05-30 01:59] jthingelstad commented on #89
This is only solved for running weekly tasks on extensions, which is all that is needed for #90, #110 and #112. Need to also allow daily tasks (which is just removing the day segment parameter) so that we can support #57.

[2014-05-30 02:03] jthingelstad opened #113 "API method to retrieve extension usage over time"
Need an API method to retrieve the usage data for the extensions captured in #57.

[2014-05-30 02:08] jthingelstad commented on #110
Weekly hook is in place, so now just need to create a Ohloh extension task which will be pretty damn easy to make an /Ohloh subpage for extensions!

[2014-05-30 11:03] kghbln opened #114 "Pages loosing property assignments, except for special properties"
I am not sure about the cause but recently I see quite a lot of pages loosing their annotations for no obvious reason, e.g. [Stadtwiki Karlsruhe (fr)](https://wikiapiary.com/wiki/Special:Browse/Stadtwiki_Karlsruhe_%28fr%29). Thus they are disappearing from statistics. Another indicator is that the wiki is massively loosing its tracked website count, currently at 17K something, down from 19K someth

[2014-05-31 00:45] jthingelstad commented on #110
@hexmode @apexkid check [this out](https://wikiapiary.com/w/index.php?title=Extension:Validator/Ohloh&action=edit).

[2014-05-31 00:53] jthingelstad opened #115 "Deprecate Property:Has ID for Property:Page ID"
Property:Has ID is hand maintained using ParserFunctions in the templates. Property:Page ID is maintained by Semantic Extra Special Properties. We can get rid of the hand maintained one and then just use the SESP version for a little simplification.

[2014-05-31 00:55] jthingelstad commented on #114
This is super-weird and almost assuredly a bug in Semantic MediaWiki. The page you cite hasn't been updated since April 19. Triggering a "Refresh" on the page brings all the properties back. I did just update my Semantic MediaWiki code to current master as well.

The new bots do nothing but interface with the MediaWiki API, just like the current ones. It is hard to imagine them causing this. Plus,

[2014-05-31 03:02] jthingelstad commented on #87
I've added a [Disqus widget](https://wikiapiary.com/wiki/Widget:DISQUS) to [websites](https://wikiapiary.com/wiki/Template:Website), [extensions](https://wikiapiary.com/wiki/Template:Extension), [farms](https://wikiapiary.com/wiki/Template:Farm) and [skins](https://wikiapiary.com/wiki/Template:Skin). I investigated the [Disqus API](https://disqus.com/api/docs/) and it is robust. I could easily hav

[2014-05-31 03:02] #87 closed, assigned to nobody

[2014-05-31 03:14] jthingelstad commented on #114
I did trigger an edit on Template:Website, after having updated Semantic MediaWiki code to current master. I'll be curious to see if the template refresh causes this to correct itself.

[2014-05-31 07:31] kghbln commented on #87
Were is currently a GSoC project underway that is aiming at adding ratings to extensions. I wonder if this would allow for comments, too. If yes, wouldn't this be some kind of duplication?

[2014-05-31 10:39] kghbln commented on #114
It seems so. :) However, which version of SMW was installed at the time this started to happen. Perhaps it is related to https://github.com/SemanticMediaWiki/SemanticMediaWiki/issues/297 which I was not able to test so far?

[2014-05-31 17:46] hexmode commented on #87
It could be duplication if done wrong.  It could be that @apexkid could just use Disqus ratings and comments and focus on the syndication of that data to MW.o.

Pinging him for comment on this.  Looks like if we let Disqus handle the vote counting it solves a few problems.

[2014-05-31 18:03] hexmode commented on #87
btw, left a comment on the disqus widget's talk page.  There is a problem with getting unsecured content when you're on a secure page.

[2014-05-31 18:07] kghbln commented on #87
I was just about to investigate this issue, since I discovered it, too. Just fixed this and everything is fluffy now. Thanks!

[2014-06-03 12:16] mwjames commented on #114
Do you have current example of a page that lost its annotations? Is there a way to replicate the problem manually on WikiApiary, so that I could see for myself what's going on?

I don't think SemanticMediaWiki/SemanticMediaWiki#297 has something do to with the described issue.

[2014-06-03 12:25] mwjames commented on #114
Could you setup a different instance with some samples from WikiApiary and run the bots that do edits for a period of time and see if we loose annotations on those pages.

If as [described](http://wikimedia.7.x6.nabble.com/Data-decay-Concerning-graph-tp5029273p5029331.html) annotations are lost due to edits we need to track what kind of edits or actions are causing the issue because currently no m

[2014-06-04 14:04] kghbln commented on #114
The problem observed by me is that the property annotations are lost without any edit. The page I used as an example (https://github.com/thingles/WikiApiary/issues/114#issue-34636299) was e.g. last edited in mid April but the loss of annotations only started to appear end of May. Touching the template helped bringing back the assignments, however the issue is still there since [this page](https://

[2014-06-04 14:44] mwjames commented on #114
I reverted SemanticMediaWiki/SemanticMediaWiki/issues/303 for now from master which can be found in the `revert` branch. It would be good if you could switch to this branch and start to monitor the pages.

I know it is a pain but currently I have no clue in what causing the issue and betting on the reverted change because it was introduced as measurement against the Redirect issue in MW 1.23/1.24.

[2014-06-04 14:49] kghbln commented on #114
I guess it will be nice to know when WikiAPIary started using the version containing change #303 to see if there is an immediate connection.

[2014-06-04 14:55] mwjames commented on #114
#303 was merged May 7 and is currently the only commit I could think of that may explain the reported issue because all other commits in May (except #225) are related to tests only.

[2014-06-04 14:58] kghbln commented on #114
I am not questioning this at all. However I observed this end of may for the first time, meaning that there is quite some gap until this started on the wiki. So knowing when this change rolled in at WikiAPIary will provide definite proof.

[2014-06-06 03:24] jthingelstad opened #116 "Generator namespace"
Create new namespace for "Generator" which will hold pages for each version of MediaWiki. Use [Property:Has generator](https://wikiapiary.com/wiki/Property:Has_generator) as the key property to drive new pages. Need to create Template:Generator and Form:Generator. This can be used to aggregate data on versions of MediaWiki in use.

[2014-06-06 03:30] jthingelstad commented on #116
Generator namespace created.

[2014-06-06 03:40] jthingelstad commented on #87
Thanks for fixing @kghbln!

[2014-06-06 03:42] jthingelstad commented on #114
I just updated to current master of Semantic MediaWiki. Also updated to the now released 1.23.0.

[2014-06-06 05:27] mwjames commented on #114
I ask for using the `revert` branch not the master since the potential issue has been reverted not on master but on the `revert` branch.

The other issue is now that the MW master has changed which makes the analysis even more difficult as more than one variable has been altered (ceteris paribus) therefore
- Use the SMW master with 1.23 0 and monitor the situation to ensure that symptoms still exi

[2014-06-06 06:47] plexish commented on #116
Ideas for possible properties beyond release date and website count:
Number of extensions known to be compatible with this version (shows up at least once in version matrix)+Link to the SMW query which gives the list
URL to release notes
Time between previous/next releases of the engine and this one?
Average age of sites using this version?
Average no. of extensions on sites using this extension?

[2014-06-06 08:03] mwjames commented on #114
I don't have time to monitor this issue and as precautionary measure (as I have no idea on what is going) I will merge the `revert` branch into master which means the next time you update the master branch #303 is no longer included.

[2014-06-06 11:26] jthingelstad commented on #116
This is largely stubbed out. Need to let jobs finish before allowing to create pages automatically. Noting that there is a lot that is in Template:Farm that can be applied to Template:Generator.

[2014-06-06 13:22] jthingelstad commented on #114
Just updated again

[code]

Note that this morning I just experienced another big drop in properties.

![wikiapiary_segments-day](https://cloud.githubusercontent.com/assets/5351/3200506/2de1a262-ed7d-11e3-955c-2531aea3a8df.png)

again leaving only SESP and built-in SMW properties.

![screenshot](https://cloud.githubusercontent.com/assets/5351/3200516/52e69e5a-ed7d-11e3-899d-301bfe360a62.png)

Ther

[2014-06-06 13:27] jthingelstad commented on #32
Completed.

[2014-06-06 13:27] #32 closed, assigned to jthingelstad

[2014-06-07 01:49] jthingelstad commented on #116
Still a ton more to do on this, but I’m going to consider this in for now. You can see

https://wikiapiary.com/wiki/Category:Generator

Shows 115 versions of MediaWiki currently in use on WikiApiary.

[2014-06-07 01:49] #116 closed, assigned to jthingelstad

[2014-06-07 01:49] jthingelstad opened #117 "Charts for usage of MediaWiki versions"
Now that #116 is in place we should create a task to store time-series data for each version of MediaWiki and show the trend by day.

[2014-06-07 06:01] plexish opened #118 "Longer duration options for data API requests"
Now that wikiapiary has been collecting data for well over a year, quite a lot of it is inaccessible with the current options for graphs which max out at one year. Adding a show all option to the dropdown would solve this.

[2014-06-07 11:42] jthingelstad commented on #118
I don't plan to enable something like this for the "raw data" frequency, but once #58 and #59 are in place this would definitely be part of it.

[2014-06-08 09:12] kghbln opened #119 "Extend Template Generator by stability information"
I think it will be nice to also have information on stability about the releases such as
- `alpha`
- `release candiate`
- `stable`

[2014-06-08 10:35] kghbln commented on #119
I do not think that something like `legacy` is needed since these releases are stabilitywise a stable release

[2014-06-09 07:26] kghbln opened #120 "Add automatic update of generator count in tagline"
I have just added [generator information](https://wikiapiary.com/w/index.php?title=MediaWiki%3ATagline&diff=964274&oldid=673846) to the wiki's tagline. I think that worker bee needs to be adjusted to also update this information.

[2014-06-09 07:28] kghbln commented on #117
:+1: This will be really cool.

[2014-06-09 11:02] plexish opened #121 "Make Template:Website default to Special:Statistics collection for early MW versions"
I just turned Special:Statistics on for a handful of early MW version wikis, and they're now collecting data. Glancing over the generator stats, it looks like there's a significant number of wikis like this.

If the MW version is below the version statistics API was added collect could default to Special not API, and the Special:Statistics URL autogenerated by regex splitting the last part of Main

[2014-06-09 12:08] jthingelstad commented on #121
This should be handled with #20 or #54 while doing #49.

[2014-06-09 12:09] jthingelstad commented on #121
Closing as duplicate of #20.

[2014-06-09 12:09] #121 closed, assigned to nobody

[2014-06-09 13:00] jthingelstad opened #122 "Bulk import of mediawikis_2013_byothers"
Wikiteam [shared this list of wikis](https://groups.google.com/forum/#!topic/wikiteam-discuss/erRTEk2RpLU) they found and cleaned up.

This should be imported in WikiApiary.

[2014-06-10 03:38] jthingelstad commented on #122
This import is completed. I had to restart the loader a couple of times so the import count was a bit fragmented, but a simple query shows **983 websites** created today. Interesting to note that this file had 11,232 lines so only **8.75%** of the wikis listed were working with an API **and** unknown to WikiApiary. I suspect that the net gain from bulk loads will continue to diminish as the number

[2014-06-10 03:38] #122 closed, assigned to jthingelstad

[2014-06-10 05:57] nemobis commented on #122
Great! I'm glad this was useful for WikiApiary as well.
As you already import the wikis we make dumps of, should I expect those 983 wikis are all missing a dump?

Note, we also have another list made more or less from the same source, with some more URLs. https://code.google.com/p/wikiteam/source/browse/trunk/listsofwikis/mediawikis_2013_checked.txt

[2014-06-10 22:22] jthingelstad opened #123 "Farm task for Gamepedia"
The list of all sites in the Gamepedia network can be found via a special page at:

http://minecraft.gamepedia.com/Special:AllSites

This contains a `<div id='allsites'>` block that has a list of sites with links. Iterate through all `li` elements in that div to find the list of site URLs and names.

[2014-06-10 22:32] jthingelstad opened #124 "Add day and hour segments to farms"
Scheduled tasks will need to be applied to farms so lets use the day and hour segments so we can easily determine when to run daily and weekly tasks and evenly spread the work.

[2014-06-11 02:51] jthingelstad commented on #124
[Added to Template:Farm](https://wikiapiary.com/w/index.php?title=Template:Farm&curid=1489&diff=980231&oldid=962115), and also [added to Template:Skin](https://wikiapiary.com/w/index.php?title=Template:Skin&curid=11833&diff=980232&oldid=962119).

[2014-06-11 02:51] #124 closed, assigned to jthingelstad

[2014-06-11 03:06] jthingelstad opened #125 "Capture format usage from smwinfo calls"
When requesting [smwinfo](https://wikiapiary.com/w/api.php?action=smwinfo&info=propcount|usedpropcount|declaredpropcount|proppagecount|querycount|querysize|formatcount|conceptcount|subobjectcount&format=json) from the API we get a dictionary of `formatcount` items that indicate what formats are being used for searches.

This information should be recorded in a ApiaryDB and made available for chart

[2014-06-11 03:25] jthingelstad opened #126 "Capture Semantic MediaWiki query duration data"
Semantic MediaWiki started storing subobjects for each query with additional statistics on each query. Using a solution similar to #108 we should be able to execute a dynamic query to the MediaWiki API and get the data stored in the wiki. The query format data is already exposed in `smwinfo` and will be pulled easily with #125, however the query duration particularly is not available any other way

[2014-06-11 03:28] jthingelstad commented on #108
Here is an example of how this query works:

`{{#ask:[[Category:Website]][[Is active::True]]|format=count}}`

turns into:

`https://wikiapiary.com/w/api.php?action=parse&text=%7B%7B%23ask%3A%5B%5BCategory%3AWebsite%5D%5D%5B%5BIs%20active%3A%3ATrue%5D%5D%7Cformat%3Dcount%7D%7D&contentmodel=wikitext&disablepp&prop=text&format=json`

[2014-06-11 17:21] kghbln commented on #120
This is probably a dupe of https://github.com/thingles/WikiApiary/issues/67 issue with issue https://github.com/thingles/WikiApiary/issues/108 as a tracking issue for the solution. Cannot tell why I did not find this.

[2014-06-11 17:31] kghbln commented on #119
Done :)

[2014-06-11 17:31] #119 closed, assigned to nobody

[2014-06-12 21:37] plexish commented on #114
Tracked count for websites, semantic websites, extensions, and a bunch of other stuff dropped suddenly earlier on. I figure it's this bug again?

[2014-06-13 20:43] kghbln opened #127 "Bees have to honour "Opt out" no matter if it was activated or not"
[Weddingpedia](https://wikiapiary.com/wiki/Weddingpedia) is a classic for several reasons on WikiAPIary. ;) For this reason I switched this wiki to "opt out" in order to prevent the different bees from visiting it. However from the version history of that page I see that AuditBee was still auditing mid April and from the error log that BumbleBee is still trying to fetch data for the wiki. The reas

[2014-06-14 19:33] plexish opened #128 "Set $wgRestrictDisplayTitle to false"
https://www.mediawiki.org/wiki/Manual:$wgRestrictDisplayTitle

Having this false would allow more descriptive titles for Extensions, Skins, Generators, and other things. Especially with hidenamespaces on (so a bunch of pages just have the title Main Page), this seems better. Also it would let me decapitalize my name on my user talk page without adding the User_talk: bit.

[2014-06-14 19:45] jthingelstad commented on #128
It worries me a little that page names would be very different from display. @kghbln any thoughts on this?

[2014-06-14 19:46] jthingelstad commented on #127
The opt out flag and other flags feel like they all need a serious revisit. I'd like to consider the decision tree on these.

[2014-06-14 19:56] kghbln commented on #128
As far as I know this also breaks existing links to the pages with thus changed names though I am not absolutely sure. I think we should add a bit more text to the top of the page rather when doing basically the same by changing the display title.

However, [this](https://wikiapiary.com/wiki/Generator:Main_Page/OFFICIAL) page name is awful, so a move to something like "Gererator:Officially release

[2014-06-14 19:59] kghbln opened #129 "Expanding content namespaces"
I am not sure if the new namespace "generator" was added to the array of  [`$wgContentNamespaces`](https://www.mediawiki.org/wiki/Manual:$wgNamespacesWithSubpages). The other extra namespaces like "extension" and "skin" could be double checked, too.

[2014-06-14 21:26] jthingelstad commented on #129
Confirming all is good.

[code]

[2014-06-14 21:26] #129 closed, assigned to jthingelstad

[2014-06-14 21:28] jthingelstad commented on #128
FWIW I've added `$wgNamespacesWithSubpages[NS_GENERATOR] = true;` so subpages will work in that namespace. You know how I love subpages. :-)

[2014-06-14 21:29] jthingelstad commented on #128
I’m going to close this as won't fix. I think the multiple pages named "Main Page" should be dealt with by simply giving them a better name. There is no requirement for "Generator:Main Page", it can be whatever we want it to be.

[2014-06-14 21:29] #128 closed, assigned to jthingelstad

[2014-06-14 21:58] plexish commented on #128
Fairly certain it does not break links (the URL stays the same, it only changes the displayed title?), but okay. Changing Main Page to something more descriptive will solve the real issue in a more intuitive way anyway (leaving only my poor capitalized talk page ;_;).

[2014-06-15 07:01] kghbln commented on #128
You are in good company. kghbln vs Kghbln. ;)

[2014-06-15 17:31] nemobis opened #130 "Wikiteam sync is not finding large number of sites"
[WikiTeam websites](https://wikiapiary.com/wiki/WikiTeam_websites) claims there are 7136 unarchived wikis. I took a [sample of 5500](http://koti.kapsi.fi/~federico/tmp/bee.txt) and compared it to the [list of known done dumps](https://code.google.com/p/wikiteam/source/browse/trunk/batchdownload/taskforce/mediawikis_done_2014.txt) (dumps produced locally and whose hash is found on an archive.org it

[2014-06-15 20:30] plexish opened #131 "Internal server error everywhere"
Trying to load any page gives:

[code]

Just in case you check here first.

[2014-06-15 21:19] jthingelstad commented on #131
You caught me in the middle of moving all caching from memcached to redis. It’s done now.

[2014-06-15 21:19] #131 closed, assigned to nobody

[2014-06-15 21:33] plexish commented on #131
Okay, glad it's nothing worrying :)

[2014-06-15 21:33] jthingelstad commented on #131
Well, tons of stuff may be broken now with redis so we'll see how worried we should be. :-)

[2014-06-15 22:43] plexish opened #132 "Styling for the report boxes"
I've been spamming boxes with fun queries lately, and it's all inline/mostly default formatting stolen from the Operators page.

Would it be better to style them differently (any nifty things foreground does we want to show off?), and maybe move it at least partly to CSS/Template?

For reference:
https://wikiapiary.com/wiki/Skin:Main_Page
https://wikiapiary.com/wiki/Extension:Main_Page
https://wik

[2014-06-16 01:56] jthingelstad commented on #132
I like the additions but the tables are definitely no good. You don't need to add any new styling, just use the standard [Foreground Grid](http://foreground.thingelstad.com/wiki/Grid). See [Template:Website indexes](https://wikiapiary.com/wiki/Template:Website_indexes) for an example that uses the Foreground Grid and is fully responsive as a result.

[2014-06-16 01:56] jthingelstad commented on #132
_PS: If you want to leave this open as an issue assigned to yourself, feel free to do that._

[2014-06-16 16:16] plexish opened #133 "Website flags revisit"
I've been thinking abut flags too. My current best idea is to have a set of flags in the template which set properties useful for reports (e.g. site unavailable, cannot collect statistics, opted out) and have those flags automatically determine whether bots collect via something roughly like

[code]

with the collecting=true bit being the only property bots need to pay attention to when determinin

[2014-06-16 16:22] plexish opened #134 "! value errors on settings tab of (all?) sites"
See https://wikiapiary.com/wiki/WikiApiary

All sites I've checked have a:

"a" is not declared as a valid unit of measurement for this property.

error for quite a few things on the setting tab. Maybe linked to Redis change, because I don't see any recent edits which would be likely to do that?

[2014-06-16 16:25] plexish commented on #134
Duplicate of #34

[2014-06-16 16:25] #134 closed, assigned to nobody

[2014-06-16 16:26] plexish commented on #34
This is back everywhere, though I'm pretty sure it was not around yesterday. Maybe linked to Redis, since that's the only major recent change which seems potentially relevant?

[2014-06-16 16:26] #34 closed, assigned to nobody

[2014-06-16 17:15] plexish commented on #132
Okay, I'll do that.

[2014-06-16 17:37] plexish opened #135 "Import EditThis sites"
They're available on [s23.org](http://s23.org/wikistats/editthis_html.php?sort=good%20desc,total%20desc&th=0&lines=1500). Not that many big ones, but may as well scoop them up?

[2014-06-16 18:51] kghbln commented on #34
I have seen this only on selected site, but all the time. Did not investigate further though. :|

[2014-06-16 19:08] kghbln commented on #131
There is something in the water. The job queue is hitting the sky since the change to redis.

[2014-06-16 20:21] plexish opened #136 "runJobs.php hanging"
Currently [over 100k jobs](https://wikiapiary.com/wiki/Wikiapiary), rising very fast. It may have been due to ~4000 websites expiring their audit at once, so I moved audit expiry to a month away to test/spread out the audit expiry spike (will set it back tomorrow). Alternate hypothesis is Redis has issues.

[2014-06-16 23:03] plexish commented on #136
Dropping again, and pretty quickly, so I've reverted my change to audits.

[2014-06-16 23:05] plexish commented on #136
Oops, did not mean to close. I'll let you do that :).

(is it considered impolite to close other people's tasks when they're solved?)

[2014-06-17 15:09] plexish opened #137 "Mark farms as defunct"
http://tropicalwikis.com/ for example is dead and not coming back (grrr at whoever decided it was okay to delete other people's work without even publishing dumps).

Needs:
- [x] Change to Template:Farm
- [x] Change to Form:Farm
- [x] Check added to Template:Website to auto-deactivate if farm is deactivated (?)
- [x] Hide from normal Farm:Main_Page listings, link a page with inactive farms?

[2014-06-17 16:34] plexish commented on #132
@thingles Is it possible to keep similar styling to the table (darker box with query name, pale box with result) using Grid? I've been messing about with preview and reading tutorials for over an hour and don't feel like I'm getting anywhere. Simply switching to the just same styling as website indexes (panel class) feels like a visual downgrade to me ([comparison](https://wikiapiary.com/wiki/User

[2014-06-17 19:05] kghbln commented on #132
The basic issue here is that the standard layout is not responsive while grid is. Since Foreground is meant to be responsive the contents should be, too. However, styling as such is indeed debatable.

[2014-06-17 21:31] plexish commented on #132
My preference is for it to look fairly similar to current on large screens, but be also made with a grid system, so on a small screen it goes from:

| Query | Query | Query | Query |
| --- | --- | --- | --- |
| Result | Result | Result | Result |

to

| ignore | header |
| --- | --- |
| **Query** | Result |
| **Query** | Result |
| **Query** | Result |
| **Query** | Result |

Using Foreground divs

[2014-06-18 19:14] kghbln opened #138 "Updating the DataTransfer extension"
I am desperately trying to upload pages however the file header gets rejected all the time though it works perfect on my test wiki. Since the I18n of the installed version is completely broken I cannot see why the file is rejected. Current master of this extension is a rectified version.

[2014-06-19 03:30] jthingelstad commented on #138
Updated.

`Updating 9b78e5b..124849d`

Close if this fixes or helps the issue. What are you trying to upload? Which pages?

[2014-06-19 03:31] jthingelstad commented on #136
Issue here is that sometimes (no pattern to discern) the runJobs.php script hangs. Not sure why, but I've caught it just sitting there stuck. If I kill it, then everything resumes fine. I've got the script being really noisy so I see this, and it’s done it three times. Going to leave this open until I know more.

[2014-06-19 03:33] jthingelstad commented on #133
There is a page on wiki for [website status flags](https://wikiapiary.com/wiki/WikiApiary:Website_status_flags) that attempts to clarify what these things mean. It is outdated and has references to things like "In error" that were long ago abandoned, but worth referencing in the context of this discussion.

[2014-06-19 03:36] jthingelstad commented on #132
You can easily achieve that using foreground divs. You need to use large-n and small-n rows divs to get different behavior. Play around on the [Foreground demo wiki](http://foreground.thingelstad.com/wiki/Main_Page) in the [sandbox](http://foreground.thingelstad.com/wiki/Sandbox:Main_Page) to get a feel for the grid.

[2014-06-19 03:37] jthingelstad commented on #131
Job queue issue commented on in #136.

[2014-06-19 03:38] jthingelstad commented on #34
This issue has been around for a very long time. I've looked at the templates, but it’s not obvious what the issue is. I've sort of just left it and assumed when someone does #64 it probably will just disappear.

[2014-06-19 03:39] jthingelstad opened #139 "Create template for extension subpage"
[Template:Extension_subpage](https://wikiapiary.com/wiki/Template:Extensions_subpage) should be created to show detailed extension information for a given website.

[2014-06-19 03:40] jthingelstad opened #140 "Create template for general subpage"
[Template:General_subpage](https://wikiapiary.com/wiki/Template:General_subpage) should be created to show detailed general stats for a given website.

[2014-06-19 03:41] jthingelstad opened #141 "Create template for interwikimap subpage"
[Template:Interwiki_subpage](https://wikiapiary.com/wiki/Template:Interwikimap_subpage) should be created to show detailed extension information for a given website.

[2014-06-19 03:42] jthingelstad opened #142 "Create template for maxmind subpage"

[2014-06-19 03:42] jthingelstad opened #143 "Create template for namespaces subpage"

[2014-06-19 03:42] jthingelstad opened #144 "Create template for skins subpage"

[2014-06-19 03:42] jthingelstad opened #145 "Create template for whois subpage"

[2014-06-19 06:01] kghbln commented on #138
Missing generators. It's easier to prepare a file than adding them individually.

[2014-06-19 06:11] kghbln opened #146 "Custom namespaces unavailable"
Currently the custom namespaces are going blanc.

[2014-06-19 07:55] kghbln commented on #146
Hmm, now all namespaces are gone except for "Special:" (-1)

[2014-06-19 09:18] plexish commented on #132
@thingles could you point me at an example of a page which does a similar thing? I did play around for quite a while and read a load of docs (most of the official ones, a blog intro to foreground, and all vaguely relevant looking pages on the wiki), and did not feel like I was making any progress.

[2014-06-19 11:39] kghbln commented on #146
Everything is fluffy now. Error log will presumable still be worth a check.

[2014-06-19 11:42] kghbln commented on #138
Works like charm now and the wiki has 77 new generators :) Thank you!

[2014-06-19 11:42] #138 closed, assigned to jthingelstad

[2014-06-19 11:49] plexish commented on #146
The site was entirely inaccessible for a while earlier too (between this getting reported and everything working) with blank white pages loading, maybe related.

[2014-06-19 12:13] jthingelstad opened #147 "Configure page for 500 errors"
Hopefully not needed often, but if bad things happen there should be an error page instead of a null response with a blank white page.

[2014-06-19 12:16] jthingelstad commented on #138
Excellent.

[2014-06-19 12:20] jthingelstad commented on #146
This was an extension update gone awry. I did a composer update and all seemed okay but clearly wasn't (think mediawiki cache may have hidden the issue at first). The good news is both Pingdom and UptimeRobot monitor WikiApiary and triggered alarms. The bad news is I was asleep already. :-) I fixed shortly after waking up. Apologies for the extended outage. I created #147 so this is at least handl

[2014-06-19 12:20] #146 closed, assigned to nobody

[2014-06-19 12:24] kghbln commented on #146
How dare you! ;) So no need to alarm specifically next time.

[2014-06-19 12:25] kghbln commented on #147
Yeah, do not forget to include a note that uptime is monitored and that no specific steps need to be taken by the visitors. Just sit tight. :)

[2014-06-19 19:28] kghbln commented on #114
Indeed the revert of https://github.com/SemanticMediaWiki/SemanticMediaWiki/pull/303 did not help the cause since property decay is still an issue. A current example is the [1.22.7 page](https://wikiapiary.com/wiki/Special:Browse/Generator:MediaWiki_1.22.7).

[2014-06-19 19:39] kghbln commented on #114
Since this page worked out fine this morning I can imagine only one cause: [The template "Generator"](https://wikiapiary.com/w/index.php?title=Template:Generator&action=history) was edited after that time. So my theory here is that the edit to the template causes the pages using it to refresh in a way that the property assignments are lost rather than being refreshed. I am predicting that all the

[2014-06-19 21:07] kghbln opened #148 ""Special:Contact" broken and needs to be reconfigured"
[Special:Contact](https://wikiapiary.com/wiki/Special:Contact) needs to be reconfigured to work with the 2.x versions of the [ContactPage extension](https://www.mediawiki.org/wiki/Extension:ContactPage#Version_.E2.89.A5_2.x_.28MediaWiki_.E2.89.A5_1.23.29). Basically it is just a copy and paste of the new code provided with small adaptions.

[2014-06-19 22:31] plexish commented on #136
Jobqueue going up again, probably this.

[2014-06-20 23:54] hexmode commented on #136
@thingles, could you report this on bugzilla?  With all the work on the jobqueue recently, I think there may be problems here that affect more people.

[2014-06-21 16:33] plexish opened #149 "Set up loads of concepts (+maybe other trackers) to help ops keep on top of everything"
Some may exist and just need connecting to a query on WikiApiary:Operations, some may not end up being very useful on further consideration, some I'll have missed (feel free to edit stuff in). Many will want a line or two of "what do I do to things on this list".
- [ ] Websites without URL
- [ ] Websites without API URL
- [x] Non-defunct active websites which have not been successfully collected f

[2014-06-21 17:04] plexish commented on #101
Could the formula also include time since last successful collection? I think this formula could neatly encompass:
- checking non-responsive wikis less often (possibly resetting if a human edits the page?), down to only checking very rarely for wikis we've not got a response from in months
- checking heavily spammed wikis less often (would require splitting demote, maybe a good idea to avoid check

[2014-06-21 17:09] plexish commented on #133
Okay, I added that to WikiApiary:Operations. Also possibly worth referring to is #101 which is another way of handling defunct, if you like the suggestion in my comment.

[2014-06-21 17:56] jthingelstad commented on #149
Please consider Semantic MediaWiki concepts for most if not all of these. I can also generate them via cron and they can be nice and fast with a concept.

[2014-06-21 19:11] plexish commented on #149
Okay, I'll use Concepts wherever possible :). I can also switch over most of the report box stuff to concepts if that would help performance?

[2014-06-22 10:36] plexish opened #150 "Make Template:Website guess Special:Statistics URL"
It should be possible to guess the Special:Statistics URL with some regex based on the main page URL, and get it right in a vast majority of cases (alternate language wikis seem to redirect to the correct place), with override possible if a site has it in an odd place. If we want to start collecting from Special:Statistics more (as will happen when #54 is done), it would be handy to have it pre-po

[2014-06-22 11:18] jthingelstad commented on #150
I don't want to do that in a template  Audit Bee could do this during the audit process though.

[2014-06-22 11:39] plexish commented on #150
Okay, that works too. New bug or edit this?

[2014-06-22 12:49] jthingelstad commented on #136
@hexmode I filed [bug 66953](https://bugzilla.wikimedia.org/show_bug.cgi?id=66953) with what I know. I’m totally at a loss for how to deal with this or even give good information on what is happening. When this happens the job is just locked up and I kill it but I cannot seem to find out what it is doing. It’s also interesting (to me at least) that this happens randomly in my farm. It’s not always

[2014-06-22 12:55] jthingelstad opened #151 "Create an audit task to determine Special:Statistics URL"
During audit if Special:Statistics URL is not defined, then:
- [ ] attempt to identify what the Special:Statistics URL
- [ ] test URL to insure it returns properly
- [ ] set the Special:Statistics field for the wiki

(replaces #150)

[2014-06-22 12:55] #150 closed, assigned to nobody

[2014-06-22 12:59] jthingelstad commented on #149
There is a big challenge with making these concepts in that Semantic MediaWiki currently lacks a way to search for pages that do not have a property. This is something I really wish we could do, but to my knowledge there is no way to do it.

[2014-06-22 13:04] jthingelstad opened #152 "Create CONTRIBUTING.md to offer guidelines"
Just discovered this feature on GitHub.

[2014-06-22 13:19] plexish commented on #149
Yea, that is an annoying issue for a lot of these and something I've run into a few times.. Possible workarounds include creating a default "none" or "unknown" value for the property where it would not interfere with bots, using {{#set: to add a new property such has Websites missing URL, or adding a hidden category and searching for pages in that category via concept. I'm not sure which is the be

[2014-06-22 13:25] #152 closed, assigned to nobody

[2014-06-23 17:11] kghbln commented on #149
Let's take the example "Websites without API URL". The only way to do it is to use a helper property of type boolean which checks for existence, e.g.

<pre>
{{#if:
 {{{API URL|}}}
 | {{#set: API URL provided = true }}
 | {{#set: API URL provided = false }}
}}
</pre>

and allows to query for a value (true or false) in any case.

I use this method sometimes and I think this is also the recommended a

[2014-06-23 17:26] jthingelstad commented on #149
If we did this I would like to only set one condition. So rather than a true or false, just se a "Missing API URL" to true, and don't set a false condition.

[2014-06-23 17:45] plexish commented on #149
I don't have a strong opinion about how it's done, it seems like there's four ways which would all be pretty much equally functional (true/false tracker property, mono-value tracker property, "not provided"/"unknown" default value for primary property, and category tracked by concept). The third could confuse the bots so is worst in many cases, but in places where I'm fairly certain it won't becau

[2014-06-23 20:02] kghbln commented on #149
The "not provided" / "unknown" will not work in this particular case since the property for the API is of type URL, but there are cases which very well will be ok with this approach. Just a matter of the respective case. Yeah, just setting a "false" is definitely fine. :)

What about setting some of them up as [fixed properties](https://semantic-mediawiki.org/wiki/Help:Fixed_properties)? I guess W

[2014-06-23 21:57] jthingelstad commented on #149
Please don't put a "fake" value in the property to indicate it isn't there. I really am not a fan of that approach.

[2014-06-23 22:43] plexish commented on #149
Okay, true/false tracker properties with concepts it is. Fixed properties look interesting, but somewhat experimental?

[2014-06-23 22:55] jthingelstad commented on #149
Why not use the existing flags property and just store multiple flags in it?

I plan in setting up fixed properties. Now that SESP used them I have more confidence in them. This is partly why I want to reuse properties where we can. For example, we have three tag properties (websites, extensions and skins) and I want to merge them into a single property and them make it fixed.

[2014-06-23 23:50] plexish commented on #149
That would work too, I'd not considered it. You'd prefer flags then?

And cool about fixed properties, if you want I can handle the tag merge, maybe tomorrow? I've used mass find/replace quite a lot on one of my wikis.

[2014-06-24 04:57] jthingelstad commented on #149
No need to even find replace, I think it only requires some modest changes in the properties that are set in the templates.

[2014-06-24 10:03] plexish commented on #149
Yep, I realized after I went to bed that find/replace was not necessary, was way too late. I'll take a look at the templates this evening :).

Edit: Done. All merged into Has tag (which was being used by websites already).

[2014-06-24 16:28] plexish opened #153 "Rename main pages"
I think we'd be better off moving Extension:Main Page to Extension:Extensions, Skin:Main Page to Skin:Skins, Farm:Main Page to Farm:Farms, and Generator:Main Page to Generator:Generators (plus finish creating Websites to give a better intro with a bunch more stats than the current category page or main page). Redirects should be kept imo.

With the namespace hidden in the title, each one has the s

[2014-06-24 19:55] jthingelstad opened #154 "Notify admins of old extensions"
This should be a weekly notification task (use combination of Has day segment and Has hour segment). The task should iterate through the extensions being used for a given Web site and notify the user of extensions that have newer versions than the ones currently installed.

There are some hurdles here:
- The current version of an extension is currently managed by hand. This will need to be generat

[2014-06-24 21:35] kghbln commented on #153
I am a bit indifferent about moving e.g. "Exension:Main_Page" to "Extension:Extensions", probably because for me on Fx and O I get the namespace name eg. "Extension" and not "Main_Page". So there is no big reason from my point of view I guess.

[2014-06-24 23:04] plexish commented on #153
hm.. it looks different from how I remember it, now main pages show no text as heading, where I think they has Main Page before... I should check things better before making bugs. I'll withdraw this.

[2014-06-25 20:29] plexish commented on #17
Done.

[2014-06-25 20:29] #17 closed, assigned to plexish

[2014-06-25 20:42] plexish commented on #14
What kinds of extra info do you think would be good to add?

[2014-06-26 14:21] jthingelstad commented on #136
Not sure if this is related but while manually clearing the job queue after it had blocked again I found that the errors I’m seeing only show up when using the `--procs` parameter to have multiple queue runners (see [comment on bug](https://bugzilla.wikimedia.org/show_bug.cgi?id=66953#c3)).

I've modified my cron script to not use the `--procs` parameter and am hoping this at least helps with this

[2014-06-27 01:04] plexish commented on #74
I've done this, but had to change Has API URL to a Text property because URL properties don't support fuzzy searching for some reason. If that's an issue I can revert and build the check another way, but it would be more convoluted. I also asked in #semantic-mediawiki whether fuzzy search for URLs was possible to enable, but no reply so far.

[2014-06-27 01:11] jthingelstad commented on #74
Hmm. It seems like a bad idea to have that not be a URL property. While I’m generally not a fan of property proliferation in this case it might make sense to have a 2nd property that is used for duplicate detection.

[2014-06-27 01:12] plexish commented on #74
Okay, I think it's causing problems for the bots anyway, so I'll revert.

[2014-06-27 01:17] plexish commented on #74
Reverted, sorry about breaking collections for a few minutes.

Using a second property would make this easy, the alternate approach is to modify the website check to check for both http and https (strip with regex, then do queries with each protocol added on), which saves creating another property but would be a kinda messy template. I'm okay with either approach.

[2014-06-27 01:38] jthingelstad opened #155 "Upgrade to MediaWiki 1.23.1"

[2014-06-27 01:38] #155 closed, assigned to jthingelstad

[2014-06-27 01:39] jthingelstad commented on #155
Done.

[2014-06-27 05:03] jthingelstad opened #156 "Setup fixed properties for heavily used properties"
Heavily used properties may benefit from having a fixed property assigned. First we need to figure out the properties that should be fixed.
- [ ] Has website
- [ ] Has interwiki URL
- [ ] Has interwiki prefix

[2014-06-27 11:51] kghbln commented on #156
Usage is a factor and the ones with over 100,000 values are probably the first pick:

![image](https://cloud.githubusercontent.com/assets/1104078/3410976/3e1ac14e-fdf0-11e3-8167-6d3f15a8e831.png)

Thus there would be 18 since the special property  No. 2, 6 and 19 are already in a table of their own. This could be the first lot.

If we chose + 50,000 there would be 20 fixed properties in total.

If

[2014-06-27 11:55] kghbln opened #157 "Build "Special:Properties" via cron"
I think it will impact performance if "Special:Properties" is updated using the  [RebuildPropertyStatistics.php](https://semantic-mediawiki.org/wiki/Help:RebuildPropertyStatistics.php) script.

[2014-06-27 13:15] plexish commented on #156
Looking over Special:Properties, there's quite a few between 15000 and 25000, mostly the one per website/one per active website properties so that'll grow significantly once big farms start getting mass-imported. It's probably worth looking very carefully at performance before and after making a bunch of the most used properties fixed to see whether it's likely to be worth fixing the lower use one

[2014-06-27 13:38] jthingelstad commented on #156
@kghbln Has subobject should be a fixed property out of the box, would you agree? Seems like that should be a feature addition for Semantic MediaWiki.

[2014-06-27 14:10] kghbln commented on #156
@thingles I just included this to show the top properties, however I marked this one as special property (see above) which is indeed using it's own table, at least I believe so. Same for No. 6 and 19.

@etesp I once talked to Nishay or Markus about fixed properties and we somehow agreed that 25.000 is a got usage count to start thinking of transforming it into a fixed property. If other properties

[2014-06-27 15:05] jthingelstad commented on #156
The 25,000 number would also be impacted by the performance characteristics of your DB server. A super-fast server with large memory and SSD would have a different threshold than a bargain-basement VPS with spinning disks and low memory.

[2014-06-27 15:06] jthingelstad commented on #156
It’s amazing how much the Interwikimap data massively expanded the property count. Those ones over 1M are definitely first place to start.

[2014-06-27 15:09] jthingelstad commented on #156
@kghbln how did you get the table you are showing there?

[2014-06-27 15:14] kghbln commented on #156
Doesn't SSD allow for faster writes and seaches. If this is the case + 25.000 may very well be moved up

I just copied the contents of "Special:Properties" into a file, saved this one as csv and imported it into LibreOffice. The rest was just replacing text and sorting rows.

[2014-06-27 15:15] jthingelstad commented on #156
That table should be a feature add to Semantic MediaWiki. It is a super helpful view, and would be even better with a column indicating fixed/dynamic property.

[2014-06-27 15:19] kghbln commented on #156
Indeed, it would make things easier to be able to sort the properties by their usage count and to have an indication if we are taking about a fixed property (class fixed?) as it is already the case for special properties (class buildin)

[2014-06-27 15:19] kghbln commented on #156
FYI @nischayn22

Edit: The first wiki I know of which will be using it.

[2014-06-27 15:22] mwjames commented on #156
`Has subobject` namely `_SOBJ` (table `smw_fpt_sobj`) is already a fixed property.

Looking for a developer who has time for implementing this as it doesn't require deep SMW/Store knowledge!

[2014-06-27 15:25] kghbln commented on #156
Thanks for confirming that "Has subobject" is using it's own table. I would have been surprised if this were not the case.

[2014-06-27 15:26] mwjames commented on #156
@kghbln @thingles This would be a good time to measure the impact of such change (whether we can actually see a significant read performance increase for those newly created fixed properties.)

[2014-06-27 15:27] kghbln commented on #156
:+1: I believe we all are very curious to see the impact.

[2014-06-27 15:29] nischayn22 commented on #156
@kghbln I once was doing some work to have properties sorted by their counts. Unfortunately, never found time to complete that :(
https://gerrit.wikimedia.org/r/#/c/69306/

[2014-06-27 15:33] kghbln commented on #156
@nischayn22 I did not know this. If it is possible for you tackling this again it will very much apprechiated. However, I added you to the loop since you were involved in adding the fixed property feature to SMW so you will proabably be interested in seeing how things go at WikiAPIary. I am excited about this.

[2014-06-27 15:36] nischayn22 commented on #157
Can you explain how this will impact performance?

[2014-06-27 15:39] kghbln commented on #157
Well this page takes about 3 to 5 seconds to render on WikiAPIary. Depending on the traffic this page gets it will be good to serve the data from cache. Let's use the power to generate this page for some other stuff.

[2014-06-27 15:47] nischayn22 commented on #157
I think there is some caching. @mwjames might know better.

[2014-06-27 15:52] nischayn22 commented on #156
@kghbln I just created an issue so that the discussion can continue there https://github.com/SemanticMediaWiki/SemanticMediaWiki/issues/357
I am not sure if I will take on this task as I want to first complete another task on SMW I have made my hands dirty with.

[2014-06-27 15:59] mwjames commented on #157
Caching settings for `Special:Properties`, `Special:WantedProperties`, `Special:UnusedProperties`, and `Special:Statistics` can be found [here](https://github.com/SemanticMediaWiki/SemanticMediaWiki/blob/master/SemanticMediaWiki.settings.php#L539).

`RebuildPropertyStatistics` doesn't purge the cache and would only be relevant to the display of data in `Special:Statistics` (currently the expiry is

[2014-06-27 16:04] nischayn22 commented on #157
@mwjames can the cache be purged by providing an argument in the URL?

[2014-06-27 22:22] kghbln commented on #157
Well, I have totally misunderstood the purpose of this script. I understood that this one was solely for "Special:Properties" to facilitate a miser mode style behaviour for it. I must have had very senior moments when addig this to the wiki - ouch! Well this issue should be turned into a 3600 \* 24 thing. :)

[2014-06-28 03:38] jthingelstad commented on #157
So after reviewing this it looks like this should be closed as a `wontfix` yes?

[2014-06-28 03:40] jthingelstad commented on #156
@mwjames is there a recommended way to attempt to determine the performance improvement from the fixed properties? Can I use the self-reported times that Semantic MediaWiki puts in the query subobjects? I'd love to do a writeup on the performance gain but I’m not sure how to go about it.

[2014-06-28 13:42] kghbln commented on #157
In case you would like to keep the cache at 1 hour, yes. A day however will imho be enough of goodness here. Up to you.

[2014-06-29 00:37] jthingelstad opened #158 "Purge Issue namespace"
The issue namespace was a fun experiment but ultimately a failed one. We need to go through the namespace and migrate anything relevant to github issues and things that are no longer relevant should just get deleted. I'd like to delete all the pages and then remove the namespace.

https://wikiapiary.com/wiki/Issue:Main_Page

[2014-06-29 02:49] jthingelstad opened #159 "Create new set of pages for tracking hosts"
- [x] Create Host namespace
- [x] Create Form:Host
- [x] Create Template:Host
- [x] Modify Template:Whois to set property as page with namespace
- [x] Change Property:Has netblock organization to a page
- [x] Set property to automatically create pages with form

[2014-06-29 02:50] jthingelstad commented on #159
Namespace created and [Host:Hosts](https://wikiapiary.com/wiki/Host:Hosts) stubbed out.

[2014-06-29 03:39] plexish commented on #158
Could you put the Issues package up somewhere before it's deleted (or leave it on one of your other wikis with the latest version of the templates)? I liked the idea a lot and even if github makes more sense for WikiApiary it could well be useful to someone else. I've got some vague plans for creating a template wiki with a bunch of drop-in packages of pages to help set up a new mediawiki install

[2014-06-29 10:20] plexish commented on #136
@thingles should I be reporting when the job queue gets big? It's currently at a record 263000.

[2014-06-29 10:43] jthingelstad commented on #136
Ugh. Later this afternoon I'll flush it and move it back to mysql. The job queue is way faster in redis, but this isn't workable with lockups occurring multiple times a day. /cc @hexmode

[2014-06-29 20:35] plexish commented on #136
Would something hacky like automatically killing/restarting the redis jobqueue if it's over ~20k and has not been restarted in the last hour be a sane option to keep the speed of redis and not require you restarting by hand?

[2014-06-29 23:15] plexish commented on #159
Made a basic Template:Host.

[2014-06-29 23:39] plexish commented on #159
Do we want to go with Host:Main_Page or Host:Hosts? The former is used by all the others, so if we're going with the latter we should move the others for consistency imo.

Also, made basic [Main_Page](https://wikiapiary.com/wiki/Host:Main_Page), feel free to merge if you'd prefer Host:Hosts.

[2014-06-30 00:53] plexish commented on #149
I've created [Has flag](https://wikiapiary.com/wiki/Property:Has_flag) and will use that with concepts to make most of these.

[2014-06-30 00:54] jthingelstad commented on #159
Thank you @etesp! I think it’s a good enough start. I just modified the property to start creating all the host pages.

And I do think #153 is a good idea so left it Host:Hosts with a redirect on Host:Main_Page.

[2014-06-30 00:54] #159 closed, assigned to nobody

[2014-06-30 01:00] jthingelstad opened #160 "Fix whois information for non InterNIC hosts"
The current whois lookup in the bots works only for InterNIC. Need to enhance to work for others.
- [ ] [Latin American and Caribbean IP address Regional Registry](https://wikiapiary.com/wiki/Host:Latin_American_and_Caribbean_IP_address_Regional_Registry)
- [ ] [RIPE Network Coordination Centre](https://wikiapiary.com/wiki/Host:RIPE_Network_Coordination_Centre)
- [ ] [Asia Pacific Network Informat

[2014-06-30 02:12] plexish opened #161 "Extras for Host:"
Misc minor ideas for improving the Host namespace.
- [ ] Flag or other property for type of hosting offered (VPS, dedicated, shared server, wikifarm, other options?)
- [x] URL to Host's main page
- [x] Report boxes for main page
- [ ] Property to associate farms with hosts? Preferably autogenerated?
- [ ] Average response time?

[2014-06-30 02:14] jthingelstad opened #162 "Bad wikitext being introduced from extension version"
The page [NYC OpenData Tech Standards/Extensions](https://wikiapiary.com/wiki/NYC_OpenData_Tech_Standards/Extensions) introduced a bad value into a template.

`|Extension version={{$VERSION}} [B{{$BUILDNUMBER}}]`

This should be filtered out.

Also found at [Wiking Development Wiki/Extensions](https://wikiapiary.com/wiki/Wiking_Development_Wiki/Extensions).

[2014-06-30 08:14] kghbln commented on #162
Perhaps it is also worth to ping @jqnatividad to make him aware that this causes issues. Perhaps there is another way in PHP to build such a version (build a constant dynamically and use this in the extension' registration or what PHP may have in place for this). Still these cases may happen from time to time.

[2014-07-01 01:21] jthingelstad commented on #136
I’ve waved the white flag and declared that using redis for the job queue is not ready for primetime. After some serious mashing through jobs I cleared out the 360,000+ jobs that had queued up. It took a long time and required three separate processes working for a long while.

While doing it runJobs.php failed many times with various exception, mostly related to redis activity. I know redis is wo

[2014-07-01 05:56] plexish commented on #136
@thingles Sad to say, it looks like it's climbing again.. Not reopening in case this is something else (like MySQL just not keeping up rather than runjobs hanging).

[2014-07-01 11:42] jthingelstad commented on #136
Is there an emoticon for pulling my hair out in frustration? I just spun up a job to just beat on the queue for now and will look at this more tonight. The task should at least make sure the queue doesn't balloon out of control.

[code]

Ugh.

[2014-07-02 11:46] jthingelstad commented on #114
See related SemanticMediaWiki/SemanticMediaWiki#347.

[2014-07-07 01:27] jthingelstad opened #163 "Better handle version information"
It makes sense to keep version information for certain objects in WikiApiary as Semantic MediaWiki properties. Right now version information is stored in a variety of objects, and in some pretty ugly ways. Note for example how database versions are attached to wikis:

![database-version-issue](https://cloud.githubusercontent.com/assets/5351/3490644/584fa048-0575-11e4-9b69-190e1c51289a.png)

This s

[2014-07-07 01:30] jthingelstad opened #164 "Use pygal for charting"
In the API we plan to create charts (see #65). In short, sometimes we need a client side chart and we do that with data and dygraph.js (see #117). But when we redesign the website template (see #64) we want to add a bunch of different graphs. These graphs should be server side generated, like spark lines. [Pygal](http://pygal.org) looks like a compelling library to do this with.

[2014-07-07 01:32] jthingelstad opened #165 "Enable groups for Localization / Translation"
Via @kghbln:

What groups do I need to setup?

[2014-07-07 11:32] kghbln commented on #165
Well the user group "translator" is there, but nobody is assigned to it. I think a `$wgGroupPermissions['user']['translate'] = true;` is all we need here.

[2014-07-10 03:11] jthingelstad commented on #165
@kghbln thank you. This is (finally) done.

[2014-07-10 03:11] #165 closed, assigned to jthingelstad

[2014-07-10 11:39] kghbln commented on #165
@thingles No worries. I just tried to make the whole main page translatable. Doing so I had to remove the userparam from the [template](https://wikiapiary.com/w/index.php?title=Template%3AWebsite_block%2FForeground&diff=1060231&oldid=243468) since we afaik cannot translate within a parserfunction. Have not removed it from the parserfunction to allow an easy revert. However, we should avoid mixing

[2014-07-10 12:52] kghbln opened #166 "FuzzyBot should be FuzzyBee"
There is a bot that updates pages to match new version of source page. It is by default called FuzzyBot. On WikiAPIary it should consistently be FuzzyBee. Thus `$wgTranslateFuzzyBotName = 'FuzzyBee';` needs to be added to "LocalSettings.php"

@thingles Another Bee :)

[2014-07-10 12:59] kghbln commented on #166
Oops, `$wgTranslateFuzzyBotName = 'Fuzzy Bee';`

[2014-07-11 02:51] jthingelstad commented on #166
Added.

Where does this show up?

[2014-07-11 02:51] #166 closed, assigned to jthingelstad

[2014-07-11 07:41] kghbln commented on #166
As soon as the source page gets updated and the new updated version of the text is approved "Fuzzy Bee" will sync all available translations to match the new version of the source page. Translaters will then know that they will have to do new translations for an already translated page.

[2014-07-11 16:38] kghbln commented on #166
@thingles Forgot all about it. Fuzzy Bee should be marked as a bot.

[2014-07-11 18:12] plexish opened #167 "Add Host tagline"
https://wikiapiary.com/wiki/MediaWiki:Tagline should have a line for hosts.

[2014-07-11 22:37] jthingelstad commented on #166
[Done](https://wikiapiary.com/w/index.php?title=Special%3ALog&type=rights&user=&page=User%3AFuzzy+Bee&year=&month=-1)

[2014-07-12 07:25] kghbln commented on #166
Thank you!

[2014-07-12 17:03] plexish opened #168 "Enable subpages on all content namespaces"
I'd like to create some subpages of Host:Hosts with extra info, subpages being on would simplify a template and provide a link back to the base page.

Edit: Seems a few others are missing this. I'd like to do report pages everywhere, so if you're cool with using subpages of the main for reports I'd like them everywhere.

[2014-07-13 02:39] plexish commented on #74
New idea: instead of just checking against specific URLs/URL variants, I'd like to check against a "fingerprint" of a few fairly unique statistics on each wiki. I'm thinking of checking for exactly the same founded date to the second, and same reverse lookup+same pages and article count (above some smallish number).

That should help deal with otherwise hard to catch duplicates which are available

[2014-07-13 03:18] plexish commented on #137
Did the third item and deactivated Wikkii.

[2014-07-13 09:24] kghbln commented on #167
[Done](https://wikiapiary.com/w/index.php?title=MediaWiki%3ATagline&diff=1067316&oldid=1065588)

[2014-07-13 09:29] kghbln commented on #168
Probably this was already done by @thingles upon set-up: Adding this namespace to the content namespaces for statistics

[2014-07-13 09:41] kghbln commented on #167
I probably prematurely closed this: @thingles should check if Worker Bee is able to update this line, too after its insertion.

[2014-07-13 10:45] plexish commented on #168
@kghbln When I use {{SUBPAGENAME}} on [Host:Hosts/Government](https://wikiapiary.com/wiki/Host:Hosts/Government) and similar pages it gives me Hosts/Government rather than Government, and the link back to base page is not automatically created. Unless something really strange is happening subpages are not enabled on Host:.

[2014-07-13 10:48] kghbln commented on #168
@etesp I was only referring to

I hijacked this issue :|

[2014-07-13 11:11] plexish commented on #168
@kghbln Ah, right, sorry. I thought you were saying subpages was probably on already, missed the colon.

[2014-07-13 11:24] plexish opened #169 "Job Queue rising fast"
@thingles sorry to say, but the job queue is on the rise again..

It lines up pretty much perfectly with my edit to Template:Website to allow marking whole farms as defunct, so I imagine it has something to do with adding a lot of pages to rebuild at once.

[2014-07-15 19:07] plexish commented on #169
Dropped back down after a while.

[2014-07-15 19:07] #169 closed, assigned to nobody

[2014-07-15 20:04] plexish commented on #153
Doing this since thingles said he liked the idea in the other bug.

[2014-07-15 20:09] plexish commented on #153
And all done. [Websites](https://wikiapiary.com/wiki/Websites) could still use a bit of work, but it's an improvement over the category page as-is.

[2014-07-15 20:09] #153 closed, assigned to plexish

[2014-07-15 21:24] plexish commented on #161
How can I query the response time from the ApiaryDB? I'm looking at how [this works](https://wikiapiary.com/w/index.php?title=Template:Website_indexes&action=edit) and it's got data extraction, but I'm struggling to find the name of the database field to query (tried response_timer, response_time, response-time, responsetimer, responsetime).

I was thinking of querying a bunch of values and averag

[2014-07-15 23:44] plexish commented on #168
Farm: could do with this too, for [example](https://wikiapiary.com/wiki/Farm:Farms/Defunct).

Edit: Actually, let's just have this on all the content namespaces.

[2014-07-15 23:54] plexish commented on #137
All done. And as a bonus:
- [x] Create a subpage for defunct farms.

[2014-07-15 23:54] #137 closed, assigned to plexish

[2014-07-16 01:59] plexish commented on #149
Did Farms with no recent collections, set a few farms to defunct.

[2014-07-17 16:58] nemobis opened #170 "Import shodan list from wikiteam"
New list, unknown number of duplicates: https://github.com/WikiTeam/wikiteam/blob/master/listsofwikis/shodan.alive.txt
Produced thanks to a tip by ete: https://github.com/WikiTeam/wikiteam/issues/161

[2014-07-18 10:26] plexish commented on #170
Cool :)

I'd like to improve the duplicate checker first (#74) so it checks against a fingerprint of statistics about a site rather than just URLs, but if @thingles is okay with it I'd like to do this as my first import (will do a test import of a few first to check it's all formatted correctly and working).

[2014-07-18 16:14] plexish opened #171 "Create report pages with fun infoboxes for all languages"
https://wikiapiary.com/wiki/Category:Languages collects websites by category. It would be cool to have tables of wikis by language and other info. Edit: Infoboxes will go on category pages.
- [ ] Create template with infoboxes and a table of websites
- [ ] Edit https://wikiapiary.com/wiki/Template:Language_category to include links to the new report pages.
- [ ] Make a languages hub page.

[2014-07-18 16:17] plexish commented on #161
Reported [a bug](https://bugzilla.wikimedia.org/show_bug.cgi?id=68098) with ExternalData which it'd be nice to have fixed before doing the average response time thing.

[2014-07-19 00:51] plexish commented on #74
Set up a founded date check. This should catch a vast majority of duplicates, but wont help with those few audit bee can't get a founded date from so I'll leave this open until I implement something to catch those (based on a combination of several other stats).

If there are issues with wikis being founded in the same second, I'll refine the founded date check.

Looking forward to catching all th

[2014-07-19 02:42] plexish commented on #170
Checker improved (not perfect but it should catch a vast majority of duplicates now). I'll work on adding these next time I have a while free, probably in smallish chunks to get a feel for how long it takes the bots to process.

[2014-07-19 19:41] plexish opened #172 "Additional archiveteam URL param"
There are several websites I've turned up which have been archived at several different places. Do we want an additional archiveteam URL param? It would avoid losing information on connected wikis and help archiveteam deduplicate.

[2014-07-19 20:57] plexish opened #173 "Handle multilingual wikis running on one mediawiki instance"
There are several duplicates now found which work like [this](https://wikiapiary.com/wiki/Heroes_Wiki_%28en%29) [pair](https://wikiapiary.com/wiki/Heroes_Wiki_%28pt%29), [and](https://wikiapiary.com/wiki/Anarchopedia_%28bs%29) [this](https://wikiapiary.com/wiki/Anarchopedia_%28hr%29) [trio](https://wikiapiary.com/wiki/Anarchopedia_%28sr%29). One mediawiki instance accessible from several subdomain

[2014-07-20 10:53] plexish opened #174 "Show default skin on website template"
Cavila pointed out on Website's talk page that default skin is not shown.

[2014-07-20 12:15] jthingelstad commented on #174
This starts to get into #64 a little bit. The default and skipped flags are shown on the Skins subpage, see [WikiApiary/Skins](https://wikiapiary.com/wiki/WikiApiary/Skins). This is all part of my conclusion that the Web site page itself cannot show everything (I'd like to see the tabs go away) and that the subpages themselves can be used to show detailed information for a given website.

The issu

[2014-07-20 12:23] jthingelstad commented on #173
That already exists with [Template:Multisite](https://wikiapiary.com/wiki/Template:Multisite) (which exists for [Anarchopedia](https://wikiapiary.com/wiki/Anarchopedia)). I wouldn't consider these duplicates. I just added a /doc page for the multisite template to at least indicate what it’s for.

[2014-07-20 12:23] #173 closed, assigned to nobody

[2014-07-20 12:25] jthingelstad commented on #172
Are you seeing additional archive URL's that are on Internet Archive? Or are they archives on other services?

[2014-07-20 12:27] jthingelstad commented on #171
Question: why not just use the category page itself (e.g. [Category:German](https://wikiapiary.com/wiki/Category:German))? They already use a common template, [Template:Language category](https://wikiapiary.com/wiki/Template:Language_category), that could be enhanced to show additional queries and such.

Related to this, we should really get #86 done. Using a hand maintained template for language

[2014-07-20 12:34] jthingelstad commented on #170
@etesp How are you thinking of doing this? I have an import script that uses the API URL, checks for existing duplicate, gets name of the wiki via API, gets the logo, does another check and then inserts. There is more work there than it appears. :-) I don't think that script is in source control (but clearly should be).

Right now we should **not** do any bulk imports due to SemanticMediaWiki/Sema

[2014-07-20 12:43] jthingelstad commented on #168
Farm and Host namespaces now have subpages enabled.

I am not enabling them on all content namespaces, most notable Extension and Skin because I’m pretty sure there are extensions and skins that use "/" as a valid part of their name. This is a problem and something we should figure out how to deal with since I’m pretty sure at some point Extension and Skin pages will want to have subpages.

[2014-07-20 12:43] #168 closed, assigned to jthingelstad

[2014-07-20 12:46] jthingelstad commented on #167
Ugh. Worker Bee is currently dumb with how he updates. The intent is to have it auto-update those values but needs #108 and the v2 of the bots to get in production. For now I should probably just disable his automatic updates. @kghbln was doing a better job.

I've commented out the UpdateTagline method in worker bee for now so human edits will remain. I also reverted to @kghbln last edit.

[2014-07-20 12:46] #167 closed, assigned to nobody

[2014-07-20 12:48] jthingelstad commented on #161
@etesp I did a pull to ExternalData (`Updating 7dab81f..4026b50`) that should include the fix Yaron put in. Average response time for a host is a cool idea.

[2014-07-20 12:50] #157 closed, assigned to jthingelstad

[2014-07-20 12:59] jthingelstad commented on #148
This is **finally** fixed.

[2014-07-20 12:59] #148 closed, assigned to jthingelstad

[2014-07-20 13:11] plexish commented on #170
@thingles I was planning to have Property:Has stripped API URL (and additional) populate, and compare the list of new wiki URLs to add against all existing API URLs. I was not sure how to handle name and logo, was hoping you'd pop by. Good point about the SMW bug making duplicate checks unreliable, definitely best to wait for that to be resolved. There's plenty of duplicates already.

[2014-07-20 13:12] plexish commented on #161
Okay, thanks.

[2014-07-20 13:15] plexish commented on #173
It seems slightly inefficient to have the bots collecting the same data multiple times and duplicates of everything, but there's not that many of them so I guess that's not much of an issue. I guess the check duplicate template needs to get more clever to deal with this.

[2014-07-20 13:16] jthingelstad commented on #170
The import is a little more complicated than that. Mainly you cannot actually do the import without testing the API, getting the name of the wiki, checking again for duplicates, etc.

If you don't mind I'd like to do this import using my existing Python bulk importer. It works super easy with a list of API URL's and gets all the additional information.

[2014-07-20 13:16] plexish commented on #170
Okay, I'll leave the importing to you.

[2014-07-20 13:18] jthingelstad commented on #170
For what it’s worth, there is a plan to have #29 which would change this dramatically and allow imports to be way simpler, and not require a special process and script.

[2014-07-20 13:18] plexish commented on #171
Category pages would work fine too, yea.

[2014-07-20 13:19] plexish commented on #170
That would be good, it'd be fun to be able to add websites faster than one by one.

[2014-07-20 13:21] jthingelstad commented on #173
@etesp just to clarify, the bots aren't collecting duplicates. Those wikis are completely independent entities with different user bases. Using a wiki farm for languages is a common approach, but they are not clones of each other. Nearly every metric will be different.

One thing to watch out for using Founded Date as a duplicate check is that some wiki farmers will use a SQL dump to get their wik

[2014-07-20 13:23] plexish opened #175 "db queries seem to be broken"
See https://wikiapiary.com/wiki/WikiApiary for example. Maybe due to the ExternalData update?

[2014-07-20 13:24] jthingelstad commented on #175
Yep, definitely ExternalData. Ugh.

[2014-07-20 13:26] jthingelstad commented on #175
Grrr, damn Ubuntu 14.04 and it’s change to default permissions! Fixed.

[2014-07-20 13:26] #175 closed, assigned to jthingelstad

[2014-07-20 13:28] plexish commented on #172
[This wiki](https://wikiapiary.com/wiki/Marine_Biodiversity) and it's five duplicates all have different archive team URLs.

[2014-07-20 13:39] plexish commented on #173
Those wikis have exactly the same edit count and active users/user graphs though, I added a check so they need to have both same founding date and same edit count specifically to avoid labelling forked wikis as duplicates. Unless something really strange is happening, they're the same mediawiki instance, not independent entities.

[2014-07-20 13:45] plexish commented on #174
Yep, when we do that redesign I agree that most of the information should move to /Skins. On sites which we don't have a default skin for a list of skins would probably be a good idea, but normally default/count would be fine.

Until then, probably a good idea to have default displayed.

[2014-07-20 13:45] #174 closed, assigned to plexish

[2014-07-21 07:36] nemobis commented on #71
Should probably be closed given https://github.com/WikiApiary/WikiApiary/issues/137#issuecomment-48830552

[2014-07-21 11:25] plexish commented on #71
Yep, Wikkii seems pretty dead sadly.

[2014-07-21 11:25] #71 closed, assigned to nobody

[2014-07-21 11:38] jthingelstad commented on #71
Sort of the ultimate `wontfix`. :-)

[2014-07-21 13:59] plexish commented on #172
[Another](https://wikiapiary.com/wiki/ReachPlus_Alerts_Support_Wiki) [example](https://wikiapiary.com/wiki/ReachPlus_Alerts). Same wiki available from two different URLs archived by wikiteam in two different locations.

I'd like to deduplicate and use additional API URL rather than two pages, but would prefer not to disconnect from an IA archive which may be useful.

[2014-07-21 14:04] nemobis commented on #172
etesp, 21/07/2014 15:59:

This for instance is a wiki that was migrated from one domain to the
other. (But is still accessible at two separate domains, one with and
one without www.)

[2014-07-21 15:42] plexish commented on #172
@nemobis Indeed, and there's quite a few wikis in similar situations. What ways of avoiding duplication of archives and handling this kind of duplicate does wikiteam have currently? I was thinking WikiApiary could help out here, by collecting info queryable to generate a list of wikis you already have on another URL, to focus on wikis not recently archived more efficiently and maybe even merge exi

[2014-07-21 16:21] nemobis commented on #172
etesp, 21/07/2014 17:42:

Simple: none. I only remove the most obvious duplicates when I spot
them, and the biggest duplicate dumps when they get in my way.
SketchCow> [...] uploading stuff of dubious value or duplication to
archive.org: [...] gigabytes fine, tens of gigabytes problematic,
hundreds of gigabytes bad.

Yes, that's definitely what WikiApiary is for I think. :)

Items on IA don't get

[2014-07-22 07:29] Contrafibularity opened #176 "Skins wrongly identified as extensions"
When I brought up an issue about conflicting names here - https://www.mediawiki.org/wiki/Thread:Extension_talk:Bootstrap/Extension:Bootstrap_vs_Extension:Bootstrap#Extension:Bootstrap_vs_Extension:Bootstrap_45716 - Stephan Gambke pointed out to me that WikiApiary has been having problems with the registration of some skins. Apparently a number of them are recognised as extensions by mistake. Is th

[2014-07-22 11:59] jthingelstad commented on #176
Thanks. I did get a message via the WikiApiary feedback page from Stephan regarding this.

I do not see this as a bug. In these cases, the Skin is indeed registering an Extension by the same name. [Foreground](http://foreground.thingelstad.com/wiki/) does this as well.

See Foreground in [skins API call](https://wikiapiary.com/w/api.php?action=query&meta=siteinfo&siprop=skins&format=json) as well

[2014-07-22 12:03] jthingelstad commented on #176
Note [MW.org discussion related to this](https://www.mediawiki.org/wiki/Thread:Extension_talk:Bootstrap/Extension:Bootstrap_vs_Extension:Bootstrap).

[2014-07-22 12:17] s7eph4n commented on #176
Hm, difficult.

It seems, that the API call just returns everything contained in $wgExtensionCredits. So you could argue, that in the end it is the skin developer's fault for putting the skin into that array.

Then again this is the only possibility to include credits for skins and recommended by https://www.mediawiki.org/wiki/Skinning#Boilerplate_and_definitions

So, how can we avoid mixing skins

[2014-07-23 12:41] jthingelstad opened #177 "Composer Update (20140723)"

[2014-07-23 12:41] jthingelstad commented on #177
[code]

[2014-07-23 12:41] #177 closed, assigned to jthingelstad

[2014-07-23 12:58] jthingelstad opened #178 "Update Semantic Rating (20140723)"
From @apexkid

[2014-07-23 12:59] jthingelstad commented on #178
Done.

[code]

[2014-07-23 12:59] #178 closed, assigned to jthingelstad

[2014-07-23 13:03] jthingelstad opened #179 "Create new property for extensions for MediaWiki.org name"
This will be used by @apexkid to map an extension to where it lives on MW.org. If not present, it can be guessed by looking at the extension URL. Having a separate property will allow us to override when needed, and make it much easier to manage.

[2014-07-23 13:19] kghbln opened #180 "Website count broken for extensions no longer installed on a wiki"
See this [extension](https://wikiapiary.com/wiki/Extension:Semantic_Text_Annotator) @Cavila added today

[2014-07-23 13:37] plexish commented on #180
Worse than that, website count is broken for all extensions. https://wikiapiary.com/wiki/Extension:ConfirmEdit https://wikiapiary.com/wiki/Extension:ParserFunctions

And it was working earlier today, with no edits which look likely to be able to cause that. I'm guessing there's an issue with the semantic rating update, or possibly some other recent extension change.

[2014-07-23 13:52] kghbln commented on #180
Oops, have not had a look at these so I did not realise that the issue is wider spread than expected. But why should the update of Semantic Rating break the website count or is this woven together right now?

[2014-07-23 14:17] kghbln commented on #176
A way will will perhaps be to take the `$type` info and check on this. However, there are extensions around using multiple types. Only a few but there are out there. I guess avoiding too generic nameing for extensions will be a solution too, e.g. "Bootstrap Frontend Provider" extension instead of "Bootstrap"  extension or whatever creativity tells.

[2014-07-23 14:24] jthingelstad commented on #180
Read the error message.

[code]

I think this is due to the Semantic MediaWiki update to 2.0-rc3.

[2014-07-23 15:13] jthingelstad commented on #180
I confirmed the issue is with the `ask` query. If you see [this test page](https://wikiapiary.com/wiki/User:Thingles/foo) where I just have the one query you can see it returns the valid result but it also gives the warning.

`{{#ask:[[Has subobject.Has extension::Extension:ConfirmEdit]] [[Is in farm::true]] [[Is defunct::false]] | format=count }}
`

The warning then cascades into a bunch of other

[2014-07-23 15:15] jthingelstad commented on #176
I think the solution to this has to be disambiguation. Invalidating some extensions as not really extensions seems dangerous. And, undoubtedly we already have duplicate extension names. I’m not sure of a good solution to disambiguation yet. Open to suggestions.

[2014-07-23 15:22] s7eph4n commented on #176
Maybe it would be possible to distinguish them using the URL field?

[2014-07-23 18:16] plexish commented on #180
I can try and fix but I'm not going to have much time over the next couple of days, then I'm away from the net entirely for a week.

[2014-07-23 18:29] jthingelstad commented on #180
I also created SemanticMediaWiki/SemanticMediaWiki#452. Something changed here, but it's not clear if it changed to be correct or not.

[2014-07-23 19:45] jthingelstad commented on #180
@mwjames picked up this issue and it does appear to be a bug. Disregard any attempt to fix. Well just get updated code soon.

[2014-07-23 20:11] mwjames commented on #180
I need to write some proper tests first since this was the issue in the first place so we don't fall short next time.

[2014-07-23 21:11] jthingelstad commented on #180
Happy I finally got the update out in so WikiApiary could help test and find stuff before release! Thanks @mwjames! I’m eager to see if the properties issue is gone. Should know by tonight.

[2014-07-23 21:18] mwjames commented on #180
Well, it is not gone but we hide the fact that the `RefreshLinksJob` does something it shouldn't do therefore you will find `Empty SemanticData / re-parsing: ...` messages in your normal log which means for those items you got an empty container and extra work (namely page parsing) has to be done in order to retrieve the lost information from the `ParserOutput`.

[2014-07-24 18:56] kghbln opened #181 "Links to mailing list archives broken"
Just wanted to point @Fannon to your mail about "plastic.js" but ended up in the happy hunting grounds for links (from [here](http://lists.thingelstad.com/cgi-bin/mailman/listinfo/wikiapiary-l) to [there](http://lists.thingelstad.com/pipermail/wikiapiary-l/)) I think it was related to some Ubuntu upgrade you did some time ago. Perhaps this is even a dupe issue. However, did not find another one fo

[2014-07-26 11:27] jthingelstad opened #182 "Composer Update (20140726)"

[2014-07-26 11:27] jthingelstad commented on #182
[code]

[2014-07-26 11:27] #182 closed, assigned to jthingelstad

[2014-07-26 11:28] jthingelstad commented on #180
Closed with #182.

[2014-07-26 11:28] #180 closed, assigned to nobody

[2014-07-29 18:56] nemobis commented on #136
Looks good in last month, with occasional spikes

[2014-07-29 18:59] nemobis commented on #172
This is probably blocking https://github.com/WikiApiary/WikiApiary/issues/130 which in turn makes https://github.com/WikiTeam/wikiteam/issues/116 quite hard

[2014-07-30 00:23] jthingelstad commented on #136
Sort of. runJobs.php is still locking regularly on me, but I have a secondary job runner that is immune to this issue running in a screen session. Super ugly hack, but it’s working for now. I really wish I could figure out what is locking up runJobs. I’m having a hard time even figuring out where to start with that.

[2014-07-30 21:34] apexkid opened #183 "Add config directory back to git"
I think the absence of config files from wikiapiary makes it difficult to run the codebase. The config file are removed to protect any sensitive information but if its possible the config files should be added with parameters and empty values and git should not track changes to it. (The way LocalSettings.php work for wiki)

[2014-07-31 03:02] jthingelstad opened #184 "Upgrade to MediaWiki 1.23.2"

[2014-07-31 03:04] jthingelstad commented on #184
Done.

[2014-07-31 03:04] #184 closed, assigned to jthingelstad

[2014-07-31 03:06] jthingelstad opened #185 "Composer Update (20140730)"

[2014-07-31 03:06] jthingelstad commented on #185
[code]

[2014-07-31 03:06] #185 closed, assigned to jthingelstad

[2014-08-01 11:45] jthingelstad commented on #114
Since applying the _work-around_ to manage this issue property counts have been stable. Very concerning issue, but at this point I think we can consider it resolved.

![screenshot](https://cloud.githubusercontent.com/assets/5351/3778372/50f03d3e-1971-11e4-8fac-0e7312ae93db.png)

[2014-08-01 11:45] #114 closed, assigned to nobody

[2014-08-02 11:51] #183 closed, assigned to jthingelstad

[2014-08-04 10:50] plexish commented on #81
We could base this off the number of farm wikis and standalone wikis using the extension now? Maybe extensions not used on any standalone and used on >10 farm?

[2014-08-04 16:21] plexish opened #186 "Orain farm task"
We've got 60 Orain farm wikis, but are missing ~100. The majority of the ones we're missing are closed (41) or private (22), but it'd be nice to keep up to date. I tidied up the ones [hosted on unusual urls](https://github.com/Orain/ansible-playbook/blob/master/roles/mediawiki/files/localsettings/LocalSettings.php.j2#l1164), the rest can be found [here](https://meta.orain.org/wiki/Database_list).

[2014-08-05 00:36] plexish opened #187 "Make bookmarklet check against stripped API URL"
I'm adding a bunch of wikis and it'd be somewhat quicker if the bookmarklet caught more of the duplicates by stripping https and www and checking against stripped API.

[2014-08-05 15:08] kghbln opened #188 "The languages tag seems to have gone"
I am not sure if this is related to an upgrade or so, but probably. I opened a [thread of mw.o](https://www.mediawiki.org/wiki/Thread:Extension_talk:Translate/Tag_languages/_broken). Strange anyways...

[2014-08-05 17:20] plexish opened #189 "Figure out what to do with SourceForge duplicates"
There are [a lot of them](https://wikiapiary.com/wiki/Concept:Duplicate_website/SourceForge), and I'm not sure exactly what's happening. The wikis don't seem to be easy to find, maybe not accessible at all.

All the links I've found so far just redirect to the project's page, maybe defuncting a large number is the best way to go?

[2014-08-05 17:22] plexish opened #190 "Clear out the ~300 duplicates flagged up"
[Plenty to work through](https://wikiapiary.com/wiki/Concept:Duplicate_website). Many are blocked by #172 currently.

[2014-08-05 17:26] plexish opened #191 "Deal with the ~2000 wikis marked as functional but have not collected from in >1 month"
It would be really nice to have this tidied up, but until we have #133 in a decent state working on this much would mean making more work for ourselves later, or not having things organized correctly indefinitely.

[2014-08-06 00:32] jthingelstad commented on #42
[code]

[2014-08-06 01:05] optimuspaul commented on #42
Should be good to go now. Tests all passed.

[2014-08-06 01:16] jthingelstad commented on #42
Fixed! Validated by running and stopping/starting mysqld and was able to reconnect and proceed.

[2014-08-06 01:16] #42 closed, assigned to jthingelstad

[2014-08-06 02:12] jthingelstad commented on #44
Highly suspect that this is `ProcessMultiprops`. Need to dive into that to see where problem is.

[2014-08-07 18:30] ciencia opened #195 "Website form: problem with IDNA URLs"
There's a problem with the Website form or SMW for the URL parameter when the domain name contains non-ascii characters (IDNA) [1]: https://wikiapiary.com/w/index.php?oldid=1135013

Clicking the link goes to nowhere! (on Firefox at least)

If I paste the same URL on a normal page, or out of the form, the link can be opened without problems.

Apparently, the server part of the URL is being URLEncod

[2014-08-07 22:31] plexish commented on #195
Good find, this seems to be an issue with SMW. Example [here](https://wikiapiary.com/wiki/User:Ete/International_URL_issue).

Edit, wait, no. Not SMW. It's happening directly in mediawiki too.

Edit2: Actually, this happens even if you copy the url directly to the bar. And in Chrome too. I think maybe some characters don't work properly directly in the address bar?

[2014-08-08 09:17] apexkid commented on #179
Created new property and modified Form:Extension.
https://wikiapiary.com/wiki/Property:Has_mediawiki_url
Had some doubts into how to modify Template:Extension as it already contains Property:URL and will be redundant with Mediawiki URL in most cases. Please look into it.

[2014-08-08 11:51] jthingelstad commented on #179
I don't think you want a URL. I would simply have a property for "Has MediaWiki.org page title" that is the title inside the Extension namespace for the extension.

[2014-08-08 12:07] jthingelstad commented on #179
Actually, it looks like I already have a property that does this. See https://wikiapiary.com/wiki/Property:Has_MediaWiki.org_title. You should just use that. Your logic should first check if title is defined and if it is do a direct page call to that title. If not, attempt to use the URL but making sure it is a URL on MediaWiki.org.

[2014-08-08 12:10] jthingelstad commented on #179
This already existed at `Property:Has MediaWiki.org title`.

[2014-08-08 12:10] #179 closed, assigned to nobody

[2014-08-09 00:47] jthingelstad commented on #188
That is seriously messed up. `<languages/>` doesn't work. `<languages />` does. Fixed with [this diff](https://wikiapiary.com/w/index.php?title=Main_Page&diff=1137663&oldid=1125468). Eek.

[2014-08-09 00:47] #188 closed, assigned to jthingelstad

[2014-08-09 00:48] jthingelstad commented on #189
What makes you say these are duplicates? They don't seem to be duplicates to me.

[2014-08-09 01:09] jthingelstad commented on #86
[Done](https://wikiapiary.com/w/index.php?title=Template:Language_label&diff=1137684&oldid=1048407&rcid=&curid=24366)!

[2014-08-09 01:09] #86 closed, assigned to nobody

[2014-08-09 07:26] kghbln commented on #188
I am still a bit puzzled. As [this page](https://wikiapiary.com/wiki/WikiApiary:Monitored_by) proves it is also working with `<languages/>`. However as the main page was not working this one was not either. Are you sure that this is the only thing you did?

[2014-08-09 12:18] plexish commented on #189
They're auto-marked as duplicates due to having exactly the same edit count and founded date. I'm going to expand the check to include article and pages count which should reduce the false positives significantly.

[2014-08-09 13:21] jthingelstad commented on #189
This check is getting really expensive. I think we need to consider having duplicate checking be part of the audit process. Then we can have Python code do some really sophisticated stuff and not slow down Template:Website.

[2014-08-09 16:08] plexish commented on #189
Okay, if this is moving to the bots I'm not going to be much help right now so I've unassigned myself from #74.

[2014-08-09 23:06] jthingelstad opened #196 "Add WikiApiary MW.org bot password to secure env in .travis.yml"
Will help with #194.

[2014-08-10 01:12] jthingelstad opened #197 "Create bot task to check for duplicates"
Detecting duplicate wikis on WikiApiary can be a fairly complicated process. Simply checking for any other wikis using the same API URL is a good start, but very inadequate. We've extended this in the templates to check for more things, but the logic is getting complicated enough that it is a significant load on `Template:Website`. I think we should instead have a bot task that will check wikis fo

[2014-08-10 01:14] jthingelstad commented on #188
I’m puzzled as well. I had to do a bunch of garbage on with LocalSettings.php to setup a new wiki. The Translate extension was causing `update.php` to fail to run and leaving me in a really bad spot. I ended up moving Translate out of composer so I could disable it, and it all ended up being a giant _PITA_. Anyway, it seems fine now but this odd behavior on this tag makes so little sense.

[2014-08-10 02:26] jthingelstad commented on #196
Closed in 1c3ae8d9495eada9646f249edb91702860417006.

[2014-08-10 02:26] #196 closed, assigned to jthingelstad

[2014-08-10 09:11] kghbln commented on #188
Ouch :( I just make @nikerabbit aware of this. Perhaps at one stage or the other the transgressing code will be spotted. Howerver, it is cool that it is working now.

[2014-08-10 12:17] plexish commented on #197
For the first bulletpoint [this property](https://wikiapiary.com/wiki/Property:Has_stripped_API_URL) may help, though it should be modifed to include additional API as well as standard. Websites often have the same founded date without being duplicates, so unless the potential duplicate marking is fairly unobtrusive (i.e. not displayed on the website page as a big notice) I'd suggest grouping all

[2014-08-10 12:21] Nikerabbit commented on #188
You [already told](https://www.mediawiki.org/wiki/Thread:Extension_talk:Translate/Tag_languages/_broken) me about the tag issue.

@thingles I assume you are running MediaWiki master with Translate from MLEB. Unfortunately core has an incompatible change you need latest development version of Translate.

[2014-08-10 13:21] #90 closed, assigned to nobody

[2014-08-10 13:47] jthingelstad commented on #46
This is simply too complicated to do for now. Revisit at some point in the future.

[2014-08-10 13:47] #46 closed, assigned to jthingelstad

[2014-08-10 13:47] #104 closed, assigned to nobody

[2014-08-10 14:42] kghbln commented on #188
Yes, but you told me that you cannot reproduce. Since I thought that this may provide further information in this case I figured that it may be of advantage to keep you in the loop somehow. I have been proven wrong an I apologize for having bothered you.

[2014-08-12 12:53] Nikerabbit commented on #188
There is no reason to apologize. I still can't reproduce the issue and I still suspect it is interference from other code and possibly a race condition as it does not seem to happen always. Caching (many layers) adds to the confusion.

[2014-08-14 15:59] ciencia commented on #195
The URL works fine for me if I copy and paste it directly in the address bar.

In your example, if you view the generated HTML, the [[Has URL:: ]] link is percent-encoded (and doesn't work), while the normal one isn't (which works). Yeah, it seems a SMW issue

[2014-08-20 14:36] kghbln opened #200 "Adapt group permissions for users and editors (move)"
[code]

Probably a better option because of [this discussion](https://wikiapiary.com/wiki/WikiApiary_talk:Handling_duplicate_names#Moving_website_pages)

[2014-08-23 12:19] mback2k opened #201 "Bumble Bee can't fetch wiki statistics for two old wikis"
Bumble Bee runs into the following errors for the following wikis:

[code]
- https://wikiapiary.com/wiki/EventScripts_Wiki_-_Classic_Scripting
- https://wikiapiary.com/wiki/EventScripts_Wiki_-_Python_Scripting

[2014-08-23 19:29] kghbln commented on #201
We are talking about MW 1.5rc3 [!sic] here. The best thing to solve this issue will be to upgrade not just the wikis to a current version (I believe you heard this one before, so no offence.). Thus Bumble Bee may fetch the data via the API, which is the preferred method anyway. Data collection via "Special:Statistics" is an extra which is unfortunately not working in most cases. So improving suppo

[2014-08-23 20:16] jthingelstad commented on #201
I did look at this though and I think it should be workable. The Special:Statistics call returns. I’m guessing there is a field that Bumble Bee is looking for that isn't present. Should be able to work around it.

[2014-08-23 23:28] mback2k commented on #201
@kghbln Unfortunately I am not the owner of those wikis and since the projects are basically slowly dying I don't think those wikis will ever get updated. @thingles Thanks for taking a look into this.

[2014-08-24 13:12] jthingelstad commented on #200
Now that [wiki-farm](https://github.com/thingles/wiki-farm) is here you could do a pull request for this. :-) (Totally kidding, don't need to do that. `:-P`)

[2014-08-24 13:16] #200 closed, assigned to jthingelstad

[2014-08-25 07:45] kghbln commented on #200
I still had to. I thought that you called the edtitor group "editor" and not "editors". The latter approach is better anyway but this needed this small adaption. Hmm... the formatting in the diff is quite awkward but when looking at it in the editor it looks ok. :|

[2014-09-03 12:28] jthingelstad opened #202 "Upgrade MediaWiki to 1.23.3"

[2014-09-03 12:29] jthingelstad opened #203 "Upgrade Foreground skin to most recent master version"
A number of improvements have been made and features added.

[2014-09-04 01:12] #202 closed, assigned to jthingelstad

[2014-09-04 01:45] jthingelstad commented on #203
This is updated using the `develop` branch. For some reason I can’t get the logo to appear in the navbar. Need to bug @hutchy68 about that. :-)

[2014-09-04 01:45] #203 closed, assigned to jthingelstad

[2014-09-04 03:46] Hutchy68 commented on #203
Ha! Bug away :smile:

You are missing a `'navbarIcon' => true,` because the default is false.

What you have...

[code]

I saw you have the logo set, are you using it? I think you should use a single bee. Like this image I cropped and flipped. I'm uploading here. :smile:

![wikiapiarybee](https://cloud.githubusercontent.com/assets/3527469/4144666/fd38c758-33e5-11e4-9b89-6329f2d7e38d.png)

[2014-09-04 11:50] jthingelstad commented on #203
Thanks @Hutchy68! Works good. We need to update the docs for Foreground to show that feature.

Also, https://github.com/thingles/wiki-farm/commit/04457a91d406f271b855ee6c8657c6383a38211f.

[2014-09-05 11:42] Hutchy68 commented on #203
Yes yes! I need to practice what I preach. 😄

[2014-09-10 19:55] kghbln opened #204 "Spam protection currently challanged"
Today WikiAPIary got ["heaps" of new registrations](https://wikiapiary.com/wiki/Special:Log/newusers) from what I believe will be spammers. They have not gotten to the point of actually spamming stuff to the wiki, however there is something in the water.

[2014-09-13 11:08] nemobis commented on #170
This is blocking  WikiTeam's progress on MediaWiki wikis archival (see also https://github.com/WikiApiary/WikiApiary/issues/130 ). If WikiApiary can't take care of the import/deduplication within the next few months, that's fine: just let me know so that I can plan for another path.

[2014-09-17 01:29] jthingelstad commented on #170
@nemobis about half of these don't have hostnames and just have IP addresses. It seems odd to me to consider those as wikis that should be registered. Thoughts?

[2014-09-17 05:53] nemobis commented on #170
Jamie Thingelstad, 17/09/2014 03:29:

They certainly have a hostname, it needs to be found. :-) I was hoping
your duplicate detection etc. could be able to do that.

[2014-09-26 07:39] kghbln commented on #204
@thingles The spam account creation is currently accelerating. No spam so far, but I think it needs attention at his point.

[2014-09-28 20:07] nemobis commented on #170
Jamie, where is the code you use to handle mass imports? I'd be glad to help add some logic to get the domains from the IP and skip upon failure; even better if you have some hint on where to do this.

[2014-09-29 07:27] nemobis commented on #160
Dunno if it helps, but for comparison here is a list from another site:

Technology  Category    Sites
GoDaddy DNS Name Server 1143
Dreamhost DNS   Name Server 711
1and1 DNS   Name Server 561
CloudFlare DNS  Name Server 482
Hetzner DNS Name Server 406
Strato DNS  Name Server 348
OVH DNS Name Server 344
HostEurope DNS  Name Server 245
HostGator DNS   Name Server 232
Linode DNS  Name Server 216
Blue

[2014-10-01 00:58] jthingelstad commented on #204
@kghbln thanks for the note. I’m currently pretty intrigued by [TextCaptcha](http://textcaptcha.com/how_it_works). It is in the spirit of what I did previously, but much broader. I’m using it on [Ask Planet Kubb](http://ask.planetkubb.com) using [q2a-logical-captcha](https://github.com/amiyasahu/q2a-logical-captcha). Wish there was a MediaWiki implementation but don't see one out there.

[2014-10-04 10:15] plexish opened #205 "Mediawiki:Sidebar navigation not showing up"
No recent changes here: https://wikiapiary.com/wiki/MediaWiki:Sidebar so I'm not sure what's happening.

[2014-10-04 13:10] jthingelstad commented on #205
I’m not entirely sure why but redis had stopped running on me. Redis holds the PHP sessions and MediaWiki cache. This also stopped anyone from being able to login. I restarted redis and it all started working fine. I’m not sure why redis died and why it wasn't restarted automatically by upstart.

Resolved for now but cause unknown.

[2014-10-04 13:10] #205 closed, assigned to jthingelstad

[2014-10-09 14:20] mormegil-cz opened #206 "Different skin name translations mistaken for different skins"
WikiApiary lists a huge amount of skins, however, some of those are just different names for a single skin. E.g., both [Vector](https://wikiapiary.com/wiki/Skin:Vector) and [Vektor](https://wikiapiary.com/wiki/Skin:Vektor) refer to the [exact same skin](https://www.mediawiki.org/wiki/Skin:Vector), only “Vektor” is the name translated to a few other languages (and [Векторное](https://wikiapiary.com

[2014-10-15 17:32] zaori commented on #176
To clarify, since this is still open - skins _are_ extensions. That is literally what they are with relation to MediaWiki. If you want to separate them out, however, they are a specific type of extension, and up-to-date ones should be properly marked as such. But it should also be noted that some may fall under other categories as well depending on their functionality, such as if they come with th

[2014-10-15 17:56] s7eph4n commented on #176
Well, yes and no. From a technical point of view I agree with you 100%. But from a users perception they are not. A user does not care about MW interna. They just come to WikiApiary to find some nice skin.
Or - the other way around - they come to WikiApiary to find out on which wikis the Bootstrap extension is used on and find the usage of the Bootstrap _skin_ (while all the time at says Bootstrap

[2014-10-15 18:17] zaori commented on #176
Doesn't matter. This isn't about technical or user points of view, because if they're going to understand either, they'll need to understand both skins and extensions. Either users will already have the technical point of view (which is likely considering the nature of wikiapiary), or it won't mean anything to them anyway.

And at that point the only thing that's apt to help them would just be mak

[2014-10-15 19:42] s7eph4n commented on #176
Agreed. That's also why there never was a _Skin_ namespace on mw.org. Everybody looking for a skin for their wiki already knows, that they are really only looking for an extension.

Sounds good. And if it doesn't fix the problem the first time, smacking harder is always an option.

[2014-10-15 21:15] lewiscawte commented on #72
We've talked many times with WikiApiary and related people about a far more effective API module we have for purposes such as this...

[2014-10-16 01:58] jthingelstad commented on #72
@lewiscawte that would be me, and I think I remember something. Could you possibly add that API call to this issue so that we have it for when we want to get this done? Thanks.

[2014-10-28 01:32] jthingelstad commented on #204
Okay, I finally put in a different dynamic test. This one now asks questions like:

I did limited testing and it works. I’m hoping this proves pretty effective. It will require spammers (and humans) to reverse the english for the number.

[2014-10-28 01:53] jthingelstad commented on #204
As an FYI, a few weeks ago I automated removeUnusedAccounts and it runs weekly now. That is the reason for the sawtooth in this chart. Will be curious to see if the new captcha gets this back to the quiet we had before.

![users](https://cloud.githubusercontent.com/assets/5351/4802508/391d520a-5e45-11e4-98f4-d9f8cbbe9451.png)

[2014-10-28 01:53] #204 closed, assigned to jthingelstad

[2014-10-28 12:23] jthingelstad commented on #204
Blog post at http://thingelstad.com/updated-dynamic-questy-captchas/.

[2014-11-06 16:45] hexmode opened #207 "Fix lack of CSS on login screen"
The login screen has a black header instead of a yellow one because MediaWiki:Common.{js,css} are not loaded any more on Special:Login and Special:Preferences.  This was due to a recent fix in MediaWiki to block user's CSS and JS.

The fix is https://gerrit.wikimedia.org/r/#/c/165979/ -- a change I hope to release in 1.24.

[2014-11-06 17:05] hexmode commented on #207
https://lists.wikimedia.org/pipermail/wikitech-l/2014-November/079309.html

[2014-11-21 17:50] kghbln commented on #207
@hexmode You are a hero for me and so is @Legoktm. :star2: All these troubles with the communities and now we are regaining paradise soon. :) Legoktm has authored backports for the [1.22](https://gerrit.wikimedia.org/r/#/c/174014/), [1.23](https://gerrit.wikimedia.org/r/#/c/174014/) and [1.24](https://gerrit.wikimedia.org/r/#/c/174012/) branches. As soon as they are in Wikiapiary will also be fluf

[2014-11-22 01:35] jthingelstad commented on #207
Okay, @hexmode I’m a little rusty. How do I just happy this one change to WikiApiary? I’m thinking I probably should not upgrade to 1.24-rc2 yet? WikiApiary is running 1.23.6 right now, and I run the tarball.

[2014-11-22 01:50] legoktm commented on #207
You can get a patch file from gerrit for the 1.23 cherry-pick I've proposed: https://gerrit.wikimedia.org/r/changes/174014/revisions/f9c0a427bee70e3ec47cee9f53bdb8ca60f23d6a/patch?zip (for https://gerrit.wikimedia.org/r/#/c/174014/)

[2014-11-22 02:24] jthingelstad commented on #207
@legoktm thank you!

@hexmode confirmed this patch does what you think it does. Applied on WikiApiary right now. See [login page](https://wikiapiary.com/w/index.php?title=Special:UserLogin&returnto=Main+Page).

[2014-11-22 02:24] #207 closed, assigned to jthingelstad

[2014-11-22 19:59] s7eph4n opened #208 "Add 'Uses namespace' property to extension pages"
It might be useful to add a 'Uses namespace' property to extension pages and have a page on Wikiapiary displaying the list. Something like https://www.mediawiki.org/wiki/Extension_default_namespaces.

[2014-11-22 23:58] nemobis commented on #130
Can I help fix this bug? It helps WikiTeam's work most of all, I feel, so it's just right that we help fix it. If I understand correctly, the code should be in apiary/tasks/farmer/ , but the directory is empty in all branches. If there's a way I can see the code and test what's going wrong for those URLs, please let me know.

[2014-11-23 00:19] nemobis commented on #51
I don't remember if one can also get items sorted by latest update date (rather than just creation date), but https://pypi.python.org/pypi/internetarchive would know.
Let me know if I can help with this script.

[2014-11-23 02:25] jthingelstad commented on #208
Good idea and pretty easy, but will have to be updated manually. Should this be a list of names or ID's? Or both? Maybe they should be subobjects that have an ID and a name?

Sure would be neat if an extension could advertise a dependency like that via the meta API.

[2014-11-23 02:27] jthingelstad commented on #195
Is it possible that SemanticMediaWiki/SemanticMediaWiki#633 fixes this?

[2014-11-23 02:29] jthingelstad commented on #191
I suspect this is actually a Semantic MediaWiki problem not returning all the data that it should be. Or not updating all the data it should be. Needs investigation.

[2014-11-23 02:30] jthingelstad commented on #190
Duplicates being detected in the Templates is, long term, not the approach I think we should have. It adds way too much constant load to each page view. #197 is a better way to handle.

[2014-11-23 05:44] s7eph4n commented on #208
The table on mw.org lists ID, constant, name and remark, but I think the most important would be the IDs, so wiki admins can avoid them when setting up custom namespaces in their wikis. This would also be sufficient for extension developers trying to avoid collision with other extensions.

Any developer who wants to specifically target the namespace set up by another extension would have to go tha

[2014-11-24 00:22] plexish commented on #190
However they are detected, #172 needs resolving since many wikis are located in multiple places on the IA, and in order to bring ourselves close to them in terms of mapping (so they can use us to keep track of what needs archiving and such) we need a way to handle this, else we will lose information by deduplicating.

[2014-11-24 11:43] mwjames opened #209 "Internal error / SF_FormUtils.php(428): Parser->parse / Parser state cleared while parsing"
When trying to display https://wikiapiary.com/wiki/WikiApiary the following error is issued:

[code]

[2014-11-24 11:45] mwjames commented on #209
@s7eph4n FYI

[2014-11-24 12:44] jthingelstad commented on #209
Weird. Surprising I didn’t see this before. Everything was working fine and then this happened. Anyway, I did a `git pull` on Semantic Forms `Updating 3b6a3b4..e66520f` and it resolved. Also grabbed SemanticFormsInputs `Updating d480913..e733bd2` while I was at it. For some reason I didn’t update these two thinking they were handled by composer.

[2014-11-24 12:44] #209 closed, assigned to jthingelstad

[2014-11-24 12:45] jthingelstad commented on #209
Wonder if there was something cached that kept this from being a problem sooner after I upgraded.

[2014-11-24 13:49] s7eph4n commented on #209
There was a change in newer version of MW's parser that prevents restarting the parse (see call to `Parser->lock()` in the backtrace above).

SF until very recently did exactly that: To parse it's forms it called Parser::parse() instead of Parser::recursiveTagParse(). It's fixed since a week or so.

[2014-11-24 20:21] mwjames opened #210 "Display of UNIQ12f3a863336f17a8-nowiki-00000002-QINU"
[0] shows various lines of `UNIQ12f3a863336f17a8-nowiki-00000002-QINU`.

@s7eph4n Probably relates to a change on how SF / MW 1.24 use the Parser (see also #209). [1] reported a similar issue in connection with SF.

[0] https://wikiapiary.com/wiki/ArchaeoWiki
[1] http://wikimedia.7.x6.nabble.com/Semantic-Form-Inputs-Datepicker-Issue-tp5039468p5039751.html

[2014-11-24 21:00] s7eph4n commented on #210
I think/hope I fixed that issue in the latest commit uploaded just now.

[2014-12-01 15:36] kghbln opened #211 "Update apple-touch-icon.png"
Currently just a smilie is provided. I think it will be nice to have the Logo in format 152x152px.

[2014-12-04 00:49] jthingelstad opened #212 "Add flag for entry type"
We need a way (other than defunct) to indicate the type of wiki registration. Specifically this could be used to indicate:
- Open: anyone can register, API can be read publicly
- Login: API requires login
- Closed: You cannot register, the wiki may not even be reachable on the web.

Maybe others? This would support [T1340](https://phabricator.wikimedia.org/T1340) and would be a step toward #22.

W

[2014-12-05 16:57] Ironholds opened #213 "Weird drop in edit counts for nowiki"
See [this](https://wikiapiary.com/wiki/Wikipedia_%28no%29#chart3): any idea what happened? I'd hope that if our servers had dropped a million edits instantaneously, we would've noticed.

[2014-12-05 19:57] Ironholds commented on #213
Looks like a core error. Will have someone patch.

[2014-12-05 19:57] #213 closed, assigned to nobody

[2014-12-05 20:51] hexmode commented on #213
Could you point to what you think is the cause?

[2014-12-05 22:40] Ironholds commented on #213
@hexmode [pertinent phabricator thread](https://phabricator.wikimedia.org/T76356): the only thing I can think of is that the Special:Statistics entry was wrong. Not only did I check the dbs, I iterated through the XML dumps...nothing except for WikiApiary and Special:Stats' previous version supports the 14m number. It's tremendously weird.

[2014-12-06 09:07] kghbln commented on #212
On wikiindex.org they call something similar "edit mode". I think in our case "access mode" will be a bit better.

[2014-12-06 15:31] kghbln commented on #210
This issue is around for quite some time now so I do not think that it relates to the MW 1.24 upgrade. This was discussed but I cannot remember where. However the latest code changes could have fixed this issue anyway. I will report if I see it around again.

[2014-12-07 02:43] jthingelstad commented on #213
Hello @Ironholds. Sorry for the delay in looking at this, busy week. I did comment on [T76356](https://phabricator.wikimedia.org/T76356#823694) as well so you can reach me as needed.

[2014-12-07 02:57] Ironholds commented on #213
@thingles that's okay; the commentary is most appreciated! :)

[2014-12-09 12:59] jthingelstad opened #214 "Handling "Clone" Duplicates"
I spent some time looking at the thread for “Duplicate archive.org items” and also reviewing issue #172.

I know that ArchiveTeam has some thoughts on these as it relates to archiving. It’s possible the right way to handle these in WikiApiary is helpful to ArchiveTeam, it’s also possible it isn’t.

I’d like to have a discussion about the Coastal Wiki group to solidify the right way to handle this

[2014-12-10 14:31] nemobis commented on #214
This is what I'd do, for simplicity. It's just one wiki, in practice. There are worse cases as well, IIRC bluwiki.com.

But (2) is also fine, if you feel like spending some effort on them.

[2014-12-10 15:47] plexish commented on #214
2 and/or 3 does seem like a slightly better solution for a small group of wikis with clones that have some differences but same backend (like costalwiki), but it seems like much more work for virtually no gain over 4 to me, and work on the backend/bots which I can't help with much.

Most duplicates more clearly want to be merged, for example keeping a page for both https://wikiapiary.com/wiki/Reac

[2014-12-19 18:35] kghbln opened #215 "Data collection for SMW query stats no longer work"
In recent versions of SMW, probably 1.9+ the data collection for query count, query pages, query sizes and query formats no longer work. See [WikiApiary](https://wikiapiary.com/wiki/WikiApiary) which is not working and [WikiHoster.net](https://wikiapiary.com/wiki/WikiHoster.net) which is working.

[2014-12-20 19:20] hexmode opened #216 "Clicking "save page" produces error: Invalid or virtual namespace -1 given."
Adding the wiki using this link results in the error:

https://wikiapiary.com/wiki/Special:FormEdit/Website?Website[URL]=http%3A%2F%2Fwww.fastar.org%2Fwiki%2Findex.php%3Ftitle%3DMain_Page&Website[API+URL]=&Website[Name]=Main+Page+-+fastarWiki&Website[Description]=

[2014-12-20 19:20] hexmode commented on #216
https://wikiapiary.com/wiki/Special:FormEdit/Website?Website[URL]=http%3A%2F%2Fwiki.dpconline.org%2Findex.php%3Ftitle%3DMain_Page&Website[API+URL]=http%3A%2F%2Fwiki.dpconline.org%2Fapi.php&Website[Name]=wiki.dpconline.org&Website[Description]=

[2014-12-20 23:11] jthingelstad commented on #216
I have no idea. Looking now. See multiple references to "Invalid or virtual namespace" in Phabricator. I’m getting pretty frustrated with upgrading lately. Seems every upgrade brings problems. Ugh.

[2014-12-20 23:24] jthingelstad commented on #216
Alright. Phabricator shows this issue with a bunch of extensions. It pointed the finger at Cite and I tried rolling that back to no benefit. [T78645](https://phabricator.wikimedia.org/T78645) pointed finger at ConfirmEdit. I moved from `master` to `REL1_24` branch on ConfirmEdit and the URL's you listed above are now able to save right.

Not sure what the root is.

[2014-12-20 23:24] #216 closed, assigned to jthingelstad

[2014-12-20 23:28] jthingelstad opened #217 "PHP Error: Babel Cdb\Reader error"
Seeing this in error logs

[code]

Kills any pages that have a Babel box on them (like [my user page](https://wikiapiary.com/wiki/User:Thingles))

[2014-12-26 11:50] ciencia opened #218 "Bot fails to get information for several wikis, giving weird errors and no failing links"
I've seem several errors in logs from WMF wikis. They contain weird errors:
- Unhandled exception must be string, not None during unknown [ link]
- unknown url type: ?action=query&meta=siteinfo&siprop=statistics&format=json [?action=query&meta=siteinfo&siprop=statistics&format=json link]
- Unhandled exception unsupported operand type(s) for +: 'NoneType' and 'str'. [ link]

Examples:

https://wiki

[2014-12-26 16:48] ciencia commented on #201
I wonder if there's a way to flag those pages, so the bot doesn't try to fetch data from them every... _15 minutes_

I'm sure there are lots of wikis to audit, synchronize, etc and it seems unnecessary that the bot is trying to get info from those unsupported wikis every 15 minutes, specially if the Api_URL property is not set.

[2014-12-26 16:54] ciencia commented on #195
This issue seems to have been fixed in the meantime

[2014-12-26 16:54] #195 closed, assigned to nobody

[2014-12-26 17:39] ciencia commented on #215
It's not working for WikiApiary because [WikiApiary:SMWExtInfo](https://wikiapiary.com/wiki/WikiApiary:SMWExtInfo) times-out

[2014-12-27 10:58] kghbln commented on #218
Yeah, this was discussed on the wikiapiary mailing list a week or so ago at least for point two and three. The issue is that for these wikis the API URL annotations were lost somehow. After updating both MW and SMW  [trivial edits to these wiki's pages](https://wikiapiary.com/w/index.php?title=Wikisource_%28zh-min-nan%29&diff=1596318&oldid=706504) should resolve the issue.

[2014-12-27 11:00] kghbln commented on #215
But why does it seem to time out only for recent versions of SMW and not for the quaint ones?

[2014-12-27 11:05] kghbln opened #219 "Ciencia for ..."
[Ciencia](https://wikiapiary.com/wiki/Special:Contributions/Ciencia_Al_Poder) for editor, operator and admin :) Seen him on several spots the wikiverse were he makes a very good impression. Recently started to get involved with WikiApiary with great work

[2014-12-27 12:59] ciencia commented on #219
Thanks :) although this recent activity boost is because of having more free time during holidays. I don't expect to spend that time normally. I usually check every new wiki I visit to see if it's already on wikiapiary to add them, when I found them in mediawiki.org's Support Desk or mediawiki freenode channel

Still, maybe the right to move pages without leaving a redirect behind would be useful

[2014-12-27 16:23] jthingelstad commented on #219
Great! @ciencia [added to editor, operator and translator](https://wikiapiary.com/w/index.php?title=Special%3ALog&type=rights&user=&page=Ciencia+Al+Poder&year=&month=-1&hide_patrol_log=1&hide_thanks_log=1). No special reason to leave off admin. If needed please let me know!

[2014-12-27 16:23] #219 closed, assigned to nobody

[2014-12-27 16:27] kghbln commented on #219
:)

[2015-01-01 12:01] kghbln opened #220 "Server certificate expired"
The server certificate expired today and should be renewed. Already two cool years of Wikiapiary have passed.

[2015-01-01 12:03] kghbln opened #221 ""Monitored_by_WikiApiary.png" embedded via http"
This file is embedded via http an throws mixed content warnings. The link to the file in "LocalSettings.php" should be changed to https.

[2015-01-01 16:39] jthingelstad commented on #220
Thanks. I think I'll be able to renew it today.

[2015-01-02 19:27] #221 closed, assigned to jthingelstad

[2015-01-02 19:28] jthingelstad commented on #220
Certificate updated.

[2015-01-02 19:28] #220 closed, assigned to jthingelstad

[2015-01-02 19:48] jthingelstad commented on #220
Also finally disabled SSLv3 and now only support TLS.

[2015-01-04 13:58] jthingelstad opened #222 "Use nginx/drizzle to create API access to data"
Had previously considered a Python+uwsgi method but it may be easier to use drizzle-nginx-module for the simple API's that WikiApiary needs.

[2015-01-07 18:43] kghbln commented on #221
Great, thank you. All fluffy now. :)

[2015-01-07 18:47] kghbln commented on #220
Great. I just checked with Qualys and Wikiapiary got an A :+1:

[2015-01-15 14:31] hexmode opened #223 "Record webserver and platform"
There is interest (https://phabricator.wikimedia.org/T86559#976694) in finding out how many windows users there are of MediaWiki.  It would be good to use the response headers to gather this sort of information.  Even if we only recorded IIS/Apache/nginx, that would help.

[2015-01-16 16:29] nemobis commented on #160
Hm, I checked the code: is https://code.google.com/p/pywhoisapi/ the library you're using? https://code.google.com/p/python-whois/ seems to have a different interface

[2015-02-03 17:29] kghbln commented on #223
Hmm... for some reason it was/is not possible to fetch the data for the webserver. I think to remember that @thingles and I e-mailed about this in early 2013. No sure what the exact issue was. For a start the field for it is present in the "Website" template from the very start of its existence.

[2015-02-03 17:46] hexmode commented on #223
I don't understand why it isn't possible, but maybe there is something about the way the bots are written that I don't understand.

For instance, I see that a request to [grab my avatar](https://avatars0.githubusercontent.com/u/43581?v=3&s=96) here results in a server response with the included header line:

[code]

For this, "Apache" would be appropriate.  Maybe an additional field that says "Via

[2015-02-03 18:02] kghbln commented on #223
Dunno either, I was just adding info about that there was some kinda issue. Keeping fingers crossed though.

[2015-02-04 18:12] kghbln commented on #217
There is also an issue with "Special:Preferences" caused by the Math extension:

[code]

[2015-02-12 20:48] kghbln opened #224 "Collect library information from MediaWiki API"
Starting with 1.25 MediaWiki will show the libraries located in the vendor directory on "Special:Version" Afaik it is currently not possible to retrieve this information via the API. This issue should remind BumbleBee to starts so after [this task](https://phabricator.wikimedia.org/T89385) has been worked on.

Probably we should also introduce a namepace "Library" at the same time and set up templ

[2015-02-12 23:24] paladox commented on #224
The patch that is currently waiting to be merged works and ive tested it so not too long before it be merged. could you +1 or -1 so that it quickly gets published.

[2015-02-12 23:29] paladox commented on #224
It was just merged now.

[2015-02-13 09:10] kghbln commented on #224
I cannot find the patch extending the functionality of BumbleBee to also collect libraries? Please advise about the spot.

[2015-02-13 17:11] paladox commented on #224
Hi I was talking about the patch for mediawiki supporting vendor.

[2015-02-13 17:15] paladox commented on #224
The code would be simlier to this https://github.com/WikiApiary/WikiApiary/blob/develop/apiary/tasks/website/extensions.py but I doint know python.

[2015-02-13 17:16] paladox commented on #224
Here is the link for https://github.com/WikiApiary/WikiApiary/pull/225/files adding the file.

[2015-02-13 17:25] paladox commented on #224
Skin should also show the same information as extension instead of just having name and is it default or not.

[2015-02-13 18:24] kghbln commented on #224
No this gets very messy. This issue is about WikiApiary so comments related to MediaWiki core should not find its way into this thread. So just the merge info belongs here to indicate that MediaWiki can now expose related info via API.

This issue is also just about libraries and not extensions, skins or the British Prime Minister. It is best to stick to what it is actually about. If there are iss

[2015-03-11 02:46] jthingelstad opened #226 "Very slow Semantic MediaWiki queries"
Report from @mwjames a long time ago:

When looking at [0, 1] you get:

首頁 - 中華民國維基媒體協會
Query depth     1  +
Query duration  32.492  +
Query format    count  +
Query size  1  +
Query string
[[Has interwiki URL::+]]

Which makes me wonder why the query does an unconditional search on
[[Has interwiki URL::+]] which is probably the reason for a long
running query.

[0] https://wikiapiary.com/w/index.

[2015-03-12 12:01] jthingelstad commented on #224
The URL for this is

http://www.mediawiki.org/w/api.php?action=query&meta=siteinfo&siprop=libraries&format=json

[2015-03-12 16:21] kghbln commented on #224
Yeah, I should add the respective templates to the wiki soon.

[2015-03-14 13:39] jthingelstad commented on #224
This should be closed by #225.

[2015-03-14 14:47] kghbln commented on #224
If have added the respective templates [1](https://wikiapiary.com/wiki/Template:Library), [2](https://wikiapiary.com/wiki/Template:Libraries_subpage) , [form](https://wikiapiary.com/wiki/Template:Library) and [category](https://wikiapiary.com/wiki/Category:Library) though I will probably still have to tweak it since it was basically a copy and past from the extensions setup.

[2015-03-14 14:48] kghbln opened #227 "Namespace Library needed"
Now that libraries may be collected we need the respective namespace on Wikiapiary.

[2015-03-14 22:23] #227 closed, assigned to jthingelstad

[2015-03-14 22:25] jthingelstad commented on #224
Important to note that while I merged #225 this code isn't running in Bumble Bee yet (_sigh_). So, either I will need to backport that to the old old bots still running, or get the new bot going which has been the epic challenge for far too long now. :-\

[2015-03-14 22:32] kghbln commented on #224
Ah, I was slightly confused. ;) I think this task should probably be kept open since the actual collection did not start yet?

Hmm... what about making this a GSoC if it is still possible to somehow dive in via WMF. However it would require you to mentor it which in turn takes time you probably do not have currently.

[2015-03-17 21:39] jthingelstad opened #228 "Retrieve errorcount from Semantic MediaWiki API"
Per @mwjames:

See SemanticMediaWiki/SemanticMediaWiki#893.

[2015-03-18 13:46] kghbln commented on #228
Also have to decide what ratios may be called "excellent", "good", "fair" or "poor". < 0,1 %, < 0,5 %, < 1 %, > 1%?

[2015-03-18 14:29] kghbln opened #229 ""open chart in new window" no longer working properly"
When clicking "open chart in new window" to view the data an new window gets opened by nothing is shown. This happens with FF 36+ due to the fact that mixed contend is automatically blocked due to "dygraph-combined.js" (http://wikiapiary.com/apiary/lib/dygraph-combined.js) being loaded via http.

[2015-03-19 12:04] jthingelstad commented on #229
Found the reference and changed it to https. @kghbln can you confirm if this is resolved?

[2015-03-19 12:27] kghbln commented on #229
Affirmative. All up and fluffy. :) Thanks!

[2015-03-19 12:27] #229 closed, assigned to jthingelstad

[2015-04-29 11:44] jthingelstad opened #230 "Regularly upload MediaWiki XML dump of WikiApiary to Internet Archive"
A scheduled job already generates a full XML dump of WikiApiary MediaWiki content every week. We should add a step to upload that dump to Internet Archive as well.

[2015-04-29 11:44] jthingelstad opened #231 "Regularly upload SQL dump of WikiApiary database to Internet Archive"

[2015-04-29 18:40] emijrp commented on #230
The Python module internetarchive is useful https://pypi.python.org/pypi/internetarchive

[2015-04-30 11:22] jthingelstad commented on #231
Reference: https://pypi.python.org/pypi/internetarchive

[2015-05-06 16:32] hexmode opened #232 "Create WikiApiary extension to get contributions from closed wikis"
During a discussion with @peterwoudsma here at SMWCon, he suggested that there would be an interest in creating an extension so that closed wikis (firewalled, etc) would have an interest in contributing their meta information (users over time, pages over time, changes, etc) while keeping their wiki content private.

This would help us build the community of enterprise users, demonstrate the useful

[2015-05-06 17:16] hexmode commented on #232
[Planned group discussion](http://semantic-mediawiki.org/wiki/SMWCon_Spring_2015/Discussions/Registration_of_Protected_Wikis_on_Wikiapiary)

[2015-05-06 19:39] jthingelstad commented on #232
#22 is a very similar related story. There are a number of wikis that are public, but require a login since `readapi` is denied for anonymous users. I've thought for a long time that Bumble Bee could actually login and then issue it’s requests. There just needs to be a way to set a username, then generate a password and send it to the right user.

Of course this still requires that the wiki be acc

[2015-05-06 22:03] peterwoudsma commented on #232
One solution is to give WikiApiary access to the protected wiki's and that goes against the protection settings... Once in the wiki, WikiApiary can harvest the authorized metadata, and much more than that. Even if you find a way to control the level of access, the affected organizations will still be reluctant to share through this procedure, and there may even be security regulations against it.

[2015-05-08 15:42] peterwoudsma opened #233 "Adding article count to wiki statistics"
I am trying to make a fair comparison between the size of wiki's run by the Wikimedia organization and those from the rest of the world ;-). I am using WikiApiary as a source for those non-Wikimedia wiki statistics.

As an example, for the English Wikipedia the statistics are provides for both the number of pages and the number of articles. See  http://en.wikipedia.org/wiki/Wikipedia:Statistics. W

[2015-05-24 21:55] jthingelstad commented on #232
There is a repo already for HoneyBee, which is intended to be a future MediaWiki extension that works with WikiApiary. I added WikiApiary/HoneyBee#6 for tracking this. I’m going to close this issue as further work and conversation should happen on that issue.

[2015-05-24 21:56] #232 closed, assigned to nobody

[2015-06-17 22:47] mwjames commented on #210
Now and then still appears on some pages but closing this issue for now.

[2015-06-17 22:47] #210 closed, assigned to nobody

[2015-07-06 15:19] emijrp commented on #130
Please, share the bot code so I can check why it is missing many wikis.

[2015-07-25 02:27] jthingelstad commented on #217
**Finally** resolved with recent upgrades.

[2015-07-25 02:27] #217 closed, assigned to nobody

[2015-07-31 14:16] alex-mashin opened #234 "Database query error when trying to edit page"
A database query error has occurred. This may indicate a bug in the software.

[code]

while saving an edit (via Edit Source) to "Traditio" page (https://wikiapiary.com/wiki/Traditio).

[2015-08-01 04:29] alex-mashin commented on #234
The same thing happens if I try to edit with form:
`A database error has occurred. Did you forget to run maintenance/update.php after upgrading? See: https://www.mediawiki.org/wiki/Manual:Upgrading#Run_the_update_script Query: SELECT 1 FROM `page` WHERE (Array) OR (Array) OR (Array) OR (Array) OR (Array) OR (Array) OR (Array) OR (Array) OR (Array) OR (Array) OR (Array) OR (Array) OR (Array) OR (Ar

[2015-08-01 12:18] jthingelstad commented on #206
_This issue also discussed at [Template talk:Skin](https://wikiapiary.com/wiki/Template_talk:Skin#Need_support_for_translated_names)._

Thank you for the suggested solution @mormegil-cz! Apologies it took this long to implement but it is now in and has been running for nearly a day.

https://wikiapiary.com/w/index.php?title=Wikipedia_(ksh)/Skins&diff=2144203&oldid=1787534&rcid=&curid=27283

https:

[2015-08-01 12:18] #206 closed, assigned to jthingelstad

[2015-08-01 12:24] jthingelstad commented on #234
I saw this issue myself on another page, but I can’t easily replicate it. I was just able to edit the page you are trying. (Also the bots have been editing thousands of pages).

https://wikiapiary.com/w/index.php?title=Traditio&type=revision&diff=2144301&oldid=1610430

Definitely ran `update.php`, but just for fun I’m going to run it again.

[code]

If it still doesn't work, can you try logging ou

[2015-08-01 12:36] jthingelstad commented on #228
Bumble Bee is now collecting this data and putting it into the Apiary DB. Next step is to add a way to show it on a graph. I'll keep an eye on making sure it’s collecting right but so far looks great.

[code]

[2015-08-01 12:37] alex-mashin commented on #234
It didn't help.

[2015-08-01 12:40] jthingelstad commented on #234
My suspicion is going to be ConfirmEdit. I’m guessing it has a bug. Will look deeper later today. @kghbln if you have any ideas let me know.

[2015-08-01 12:40] alex-mashin commented on #234
Before the issue is fixed, could you please, since you are able to edit the page, change the site domain (including its API) from traditio-ru.org to traditio.wiki?

[2015-08-01 12:44] jthingelstad commented on #234
@alex-mashin [done](https://wikiapiary.com/w/index.php?title=Traditio&type=revision&diff=2144390&oldid=2144301).

[2015-08-01 12:46] alex-mashin commented on #234
Thanks.

[2015-08-01 12:46] jthingelstad commented on #228
Fun. Rolling in for more sites.

[code]

[2015-08-01 13:18] nemobis commented on #206
Simple and effective! Thanks both.

[2015-08-01 14:09] jthingelstad commented on #228
Now available in the graph dropdown on [WikiApiary](https://wikiapiary.com/wiki/WikiApiary).

![screenshot](https://cloud.githubusercontent.com/assets/5351/9022105/fef339e2-382c-11e5-9d08-fc6bd3ff2e61.png)

[2015-08-01 14:15] jthingelstad commented on #228
Think this is now done.
- [Added to website template](https://wikiapiary.com/w/index.php?title=Template%3AWebsite&type=revision&diff=2144722&oldid=2096149)
- [Property:Has semantic error count](https://wikiapiary.com/wiki/Property:Has_semantic_error_count) created.
- Available as option in graphs.

If I missed anything let me know. Thank you for pointing this out @mwjames!

[2015-08-01 14:15] #228 closed, assigned to jthingelstad

[2015-08-01 20:28] mwjames commented on #234
Have a look at https://phabricator.wikimedia.org/T105597.

[2015-08-02 11:29] jthingelstad opened #235 "Rename this repository BumbleBee"

[2015-08-02 11:32] jthingelstad commented on #186
_Moved to WikiApiary/FarmerBee#1._

[2015-08-02 11:32] #186 closed, assigned to nobody

[2015-08-02 11:36] jthingelstad commented on #135
_Moved to WikiApiary/FarmerBee#2._

[2015-08-02 11:36] #135 closed, assigned to nobody

[2015-08-02 11:38] jthingelstad commented on #130
_Moved to WikiApiary/FarmerBee#3._

[2015-08-02 11:38] #130 closed, assigned to nobody

[2015-08-02 11:39] jthingelstad commented on #123
_Moved to WikiApiary/FarmerBee#4._

[2015-08-02 11:39] #123 closed, assigned to nobody

[2015-08-02 11:39] jthingelstad commented on #91
_Moved to WikiApiary/FarmerBee#5._

[2015-08-02 11:39] #91 closed, assigned to nobody

[2015-08-02 11:40] jthingelstad commented on #73
_Moved to WikiApiary/FarmerBee#6._

[2015-08-02 11:40] #73 closed, assigned to nobody

[2015-08-02 11:41] jthingelstad commented on #72
_Moved to WikiApiary/FarmerBee#7._

[2015-08-02 11:41] #72 closed, assigned to nobody

[2015-08-02 11:42] jthingelstad commented on #51
_Moved to WikiApiary/FarmerBee#8._

[2015-08-02 11:42] #51 closed, assigned to jthingelstad

[2015-08-02 11:43] jthingelstad commented on #50
_Moved to WikiApiary/FarmerBee#9._

[2015-08-02 11:43] #50 closed, assigned to nobody

[2015-08-02 11:46] jthingelstad commented on #222
Closing as no action planned on this.

[2015-08-02 11:46] #222 closed, assigned to jthingelstad

[2015-08-02 11:48] jthingelstad commented on #189
Closing. This concept no longer shows any pages. Not clear what action if any is needed.

[2015-08-02 11:48] #189 closed, assigned to nobody

[2015-08-02 11:49] jthingelstad commented on #176
Closing this issue as there is nothing for WikiApiary and Bumble Bee to do differently.

[2015-08-02 11:49] #176 closed, assigned to nobody

[2015-08-02 11:52] jthingelstad commented on #224
I’m going to open this issue as I’m considering putting this into the old legacy bots, which sadly, are still the ones running on the site.

[2015-08-02 11:53] jthingelstad commented on #31
Closing this in favor of #224.

[2015-08-02 11:53] #31 closed, assigned to nobody

[2015-08-02 12:17] jthingelstad commented on #224
Bumble Bee is now collecting this data and attaching the subpages. However, still need to do wiki template work to read and set it.

https://wikiapiary.com/wiki/Category:Library_subpage

[2015-08-03 19:45] kghbln commented on #227
Cool. Thanks. Still need to build up things.!

[2015-08-03 19:50] kghbln commented on #228
@thingles @mwjames
I have fluffed up the statistics page [on WikiAPIary](https://wikiapiary.com/wiki/Semantic_statistics/Errors) a bit. My guessed suggestion for classifying the annotation health of a semantic wiki seems to be pretty realistic as it turns out. Thoughts?

I am quite impressed to see so few errors on wikis. However we are seeing wikis here which obviously have good sysadmins and wik

[2015-08-04 01:23] mwjames commented on #228
I like it because it shows SMW + Wiki can do more than just collecting facts, it can help to give some insights.

I don't want to sound smug but the name "https://wikiapiary.com/wiki/Semantic_statistics/Errors" indicates a strong connotation of a "blamable action", maybe have it renamed to something like Annotation health or smth.

You could have a top ten of the worst and "good" offenders while l

[2015-08-04 09:11] kghbln commented on #228
That's the first that came to my mind too when I saw the list. I addressed this on the mailing list

The minimum will be to make people aware of the fact that something can be done to improve things.

[2015-08-04 11:25] jthingelstad commented on #228
@mwjames @kghbln looking at this data point over time (now that it is being graphed!) has me a bit confused. Here is the graph for WikiApiary since started to collect (remember WikiApiary collects data every 15 mins).

![screenshot](https://cloud.githubusercontent.com/assets/5351/9059640/4c358aac-3a71-11e5-98f7-c2b12da7b1ff.png)

What is confusing to me is that I don't understand the changes that

[2015-08-04 13:29] kghbln commented on #228
Hmm, some kind of race condition or caching issue? As far as I can tell the wikis I control show the expected behaviour.

[2015-08-04 14:22] mwjames commented on #228
Statistics are cached (including the error count) [0].

Would you mind running `rebuildPropertyStatistics.php` to see whether this adjusts the value statement (because we access [1] to get the data).

[0] https://github.com/SemanticMediaWiki/SemanticMediaWiki/blob/master/SemanticMediaWiki.settings.php#L629-L630

[1] https://github.com/SemanticMediaWiki/SemanticMediaWiki/blob/master/src/SQLStore/Li

[2015-08-04 14:50] kghbln commented on #228
Yeah, 3600 secs - could have come up with this. On "my" wikis I do a day long caching and also rebuild the stats daily. Lets see what happens here. Touching wood. :)

[2015-08-04 17:08] mwjames commented on #228
Hope this helps [0,1].

[0] https://semantic-mediawiki.org/wiki/Help:Property_annotation_health
[1] https://semantic-mediawiki.org/wiki/Semantic_gardening

[2015-08-04 19:34] mwjames commented on #228
I think the initial value started with a wrong baseline according to [0] as there are a lot more than 50.

Furthermore, I can see [0] contains removed entities (red linked). I just merged https://github.com/SemanticMediaWiki/SemanticMediaWiki/pull/1100 (698ed00c) which hopefully should help with those but for this to work the red linked subjects need to be recreated (or undeleted) and deleted agai

[2015-08-05 07:55] kghbln commented on #228
It does indeed. Added a bit more fluffy and now it is nice I guess. Thank you!

Another thing about annotation health: After @thingles added this coolness to the website page I realise that does not look good if a annotation health is 0 even though this is excellent. I figure that 100 is the better option. Also 99,87 % percent is probably less scary than 0,13 % so we should just reverse this.

[2015-08-26 11:33] jthingelstad commented on #61
Depends on #89.

[2015-10-07 21:06] nemobis commented on #170
Cc @emijrp as he's interested in helping import stuff and he's a master of bot imports. :)

[2015-10-16 12:12] kghbln commented on #234
Oops, I did not get the note for this conversation. I actually opened a bug report for this here https://github.com/WikiApiary/wiki/issues/4

[2015-10-17 06:33] revi commented on #234
Got the same thing few minutes ago while putting `{{delete|duplicate}}` to [[위키쨩 2]].

[code]

[2015-10-17 09:50] kghbln commented on #234
@thingles Updating WikiApiary to latest MW should fix this

[2015-10-25 11:53] jthingelstad commented on #234
Should be fixed now with upgrade to 1.25.3.

[2015-10-25 11:53] #234 closed, assigned to jthingelstad

[2015-12-22 20:47] ciencia opened #236 "Don't attempt to collect library data on wikis that don't support it"
The bots seem to be collecting library data every day, even if the MediaWiki version doesn't support it, creating a lot of noise in the website log:

![librarydata unsupported](https://cloud.githubusercontent.com/assets/44133/11965469/01b47cfc-a8f5-11e5-9d33-f917c3ba17b5.png)

It would be nice to not perform this collect if MediaWiki version is lower than 1.25, or add a parameter to the Template:W

[2016-08-27 10:27] paladox opened #237 "Update python to 2.7.11"
Hi please could you update python to 2.7.11 on https://wikiapiary.com/wiki/ please?

Since I am getting ssl errors here https://wikiapiary.com/wiki/Random_Wikisaur

2016-08-27 06:41:14 (info normal) <urlopen error [Errno 1] _ssl.c:510: error:14077438:SSL routines:SSL23_GET_SERVER_HELLO:tlsv1 alert internal error> link

I'm using cloudflare.

http://stackoverflow.com/questions/34513784/urlopen-erro

[2016-08-27 14:06] paladox commented on #237
@thingles @kghbln I'm wondering could you update the servers python to 2.7.11 to see if it fixes the ssl issue please? Since others may use cloudflare thus stopping there wiki from being tracked.

[2016-08-28 01:00] jthingelstad commented on #237
The SysAdmin functions for WikiApiary have been handed off from me to the MediaWiki Stakeholders group headed up via @hexmode. I think folks are still figuring out how to go forward with the Unix level stuff.

[2016-08-28 12:10] paladox commented on #237
@thingles oh would you be able to ask @hexmode to update the server python please since this is a problem for users using cloudflare?

[2016-08-28 12:12] paladox commented on #237
We only need the server upgraded for python, this may fix many https errors :)

[2016-09-01 08:54] nemobis commented on #130
Is this repository/issue tracker private?

[2016-09-03 15:12] hexmode commented on #237
The server is running [Ubuntu Trusty](http://packages.ubuntu.com/search?keywords=python).  The StackOverflow question seems to say that python 2.9 is sufficient.  2.9 is available in Ubuntu Wiley. Would that be ok?

[2016-09-03 15:14] paladox commented on #237
Yes please. I guess that will work. @hexmode could you install python 2.9 to see if that fixes thing please :)

[2016-09-03 15:38] hexmode commented on #237
Since it looks fairly easy to upgrade to the next LTS (easier than getting one package from wiley) I'm trying that. If this works, you'll have 2.7.11

[2016-09-03 15:53] paladox commented on #237
@hexmode thanks :)

Are you doing that now?

[2016-09-03 19:50] hexmode commented on #237
That's a good way to waste half a day.  But now I am more familiar with how @thingles set up the system.

Python is upgraded, but so is wikiapiary.

File new bugs for anything you find.

[2016-09-03 19:50] #237 closed, assigned to nobody

[2016-09-03 20:42] paladox commented on #237
@hexmode thankyou :)

[2016-09-03 22:09] paladox commented on #237
@hexmode it seems the errors have gone now, but the bumble bee bot is till not updating the information about my site and I'm not sure why https://wikiapiary.com/wiki/Random_Wikisaur

I'm running mw 1.28 wmf 17 but https://wikiapiary.com/wiki/Random_Wikisaur says I'm running 1.27 wmf 23

[2016-09-03 22:24] kghbln commented on #237
@paladox As you can see BumbleBee started to collect statistical data again so I believe it is working. Please allow some time for AuditBee and BumbleBee to fly out and return to the apiary with new data.

[2016-09-03 22:55] paladox commented on #237
ok thanks.

[2016-09-04 01:22] hexmode commented on #237
It shows "MediaWiki Version     Generator:MediaWiki 1.28.0-wmf.17 (1.28.0-wmf.17)" now

[2016-09-04 01:35] paladox commented on #237
Yep thanks.

Thankyou for fixing the problem :)

[2016-09-05 07:59] kghbln opened #238 "Uploading files fails"
**Issue:**
[49d2fa18] /wiki/Special:UploadWindow MWException from line 1856 of /.../w/includes/filerepo/file/LocalFile.php: Could not acquire lock for 'Peacetechwikilogo.png.'

**Backtrace:**

[code]

[2016-09-05 14:45] hexmode commented on #238
try again?

[2016-09-05 14:50] kghbln commented on #238
Cool, up and running again. Thanks a lot!

[2016-09-05 14:50] #238 closed, assigned to hexmode

[2016-09-07 03:27] jthingelstad commented on #130
@nemobis Hello nemo… the repo that was at WikiApiary/FarmerBee didn’t get any traction. It had no code and only a handful of issues. Since there was nothing there I deleted the repo.

It was definitely my idea that bots that harvest wiki farms should be totally separate from the other bots that run WikiApiary. This idea never got enough momentum to actually get built though.

tl;dr: It’s not priva

[2016-09-07 06:52] nemobis commented on #130
Jamie Thingelstad, 07/09/2016 05:27:

Thanks. Do you plan to still run the bot? Should someone willing to help
with the sync just rewrite from scratch?

[2016-09-07 11:50] jthingelstad commented on #130
@nemobis the MediaWiki Stakeholders group have super graciously offered to run WikiApiary going forward, led by @hexmode. I _believe_ that the WikiTeam bot still runs weekly, but honestly I’m not sure.

I know the version I wrote was particularly not great. To the extent that WikiTeam wanted to write a bot that ran on it’s own I think that would probably be better, but ultimately up to you all.

[2016-09-08 00:33] hexmode commented on #130
@thingles I'm looking over cron jobs and such.  Would this one run under your user?

[2016-09-09 20:46] emijrp commented on #130
Some months ago I wrote a new bot for updating IA dump links in WikiApiary.

Here is the code https://github.com/WikiTeam/wikiteam/tree/master/wikiapiary

It can be launched by anyone with basic knowledge of pywikibot.

2016-09-08 2:33 GMT+02:00 Mark A. Hershberger notifications@github.com:

[2016-09-10 12:24] jthingelstad commented on #130
@hexmode yes. But I just looked and they are commented out so I’m thinking you moved them. 👍

[2016-09-10 18:01] hexmode commented on #130
@emijrp could you create a pull request against the [WikiApiary/Wikibees](https://github.com/WikiApiary/wikibees) repository for the script?  Also helpful would be the frequency you think the script should run at.

[2016-11-30 09:24] kuznet1 opened #239 "Not working counters"
For example, see https://wikiapiary.com/wiki/Tradingview_Wiki

[2016-11-30 13:43] kghbln commented on #239
That appears to be an issue with your wiki https://www.tradingview.com/wiki/static/api.php?action=query&meta=siteinfo&siprop=statistics Perhaps BumbleBee could be adapted to provide the requested info if possible. I have now changed to collection via Special:Statistics. Let's see what happens.

[2016-12-02 09:00] kghbln commented on #239
I see that the issue was indeed with the wiki itself. Working now.

[2016-12-02 09:00] #239 closed, assigned to nobody

[2016-12-02 09:08] kuznet1 commented on #239
Thanks for help, this issue was caused by invalid settings of AWS Extension, it can be fixed by [this](https://www.mediawiki.org/wiki/Topic:So9qs2u9svb3j4gx)

[2016-12-02 09:12] kghbln commented on #239
Great, thanks for reporting back!

[2017-01-03 19:19] kghbln opened #240 "Server certificate expired"
The server certificate used for WikiApiary.com expired today (2017-01-03) and needs to be replaced.

[2017-01-03 19:34] kghbln commented on #240
Ah, cool! Already switched to Let's Encrypt in the meantime. Thanks a lot @hexmode !

[2017-01-03 19:34] #240 closed, assigned to hexmode

[2017-01-03 19:41] hexmode commented on #240
I was bombarded with email this morning.

[2017-01-03 19:46] kghbln commented on #240
Poor you and I even added to this. :(

[2017-01-03 19:47] kghbln commented on #240
It however proves that people actually care about the wiki which is a great thing.

[2017-01-03 19:51] hexmode commented on #240
I wish I could say the email was from people.  That /would/ be awesome.

However, the bots are much quicker to notice problems and don't know that one (or ten) emails is enough.

[2017-01-03 19:54] kghbln commented on #240
Ah, so back to just me. But there are others around too how appreciate WikiApiary, too.

[2017-01-17 23:16] kghbln opened #241 ""updateSpecialPages.php" not run"
I believe that WikiApiary is on MiserMode but "updateSpecialPages.php" is currently not run to update the respective pages, e.g. [Special:DoubleRedirects](https://wikiapiary.com/wiki/Special:DoubleRedirects)

@hexmode FYI